[2017-10-11 16:52] caniszczyk opened #6 "Refresh the README"
Now that the election is over for the KSC, the README should be refreshed with the members etc

[2017-10-20 14:50] idvoretskyi commented on #6
cc @parispittman @castrojo @kubernetes/steering-committee

[2017-10-20 14:54] castrojo commented on #6
If someone from the SC wants me to take a stab at this feel free to assign it to me.

[2017-10-20 15:03] bgrant0607 commented on #6
@castrojo Go for it. Thanks.

[2017-10-23 14:24] #6 closed

[2017-10-27 13:45] caniszczyk opened #9 "Select representative for the CNCF GB"
Now that the KSC is formed, they should select a represented amongst themselves to be on the CNCF GB: https://github.com/cncf/foundation/blob/master/gb-developer-reps.md

Could this be done by the end of next month so the representative could join us at the next CNCF GB meeting in December at KubeCon/CNCon?

[2017-10-27 23:12] philips commented on #9
Its on the backlog. I will add it to our agenda for next time.

https://github.com/kubernetes/steering/blob/master/backlog.md#backlog-items

[2017-10-27 23:12] #9 closed

[2017-11-06 16:46] caniszczyk commented on #9
@philips and the @kubernetes/steering-committee

Has this been done yet? We'd like you to pick their GB representative by 12/3 for the 12/5 GB meeting. That person will need to miss the Contributor Summit from 1 to 4 PM.

When is the next KSC meeting?

[2017-11-06 17:03] timothysc commented on #9
@michelleN Volunteered as tribute during our last meeting.  I'm a +1 for her representing the committee.

[2017-11-06 17:47] bgrant0607 commented on #9
@caniszczyk Yes, @michelleN is the K8s GB rep.

[2017-11-06 18:03] dankohn commented on #9
Fantastic! (And @timothysc I love the Hunger Games reference.)

[2017-11-27 16:52] caniszczyk opened #12 "Graduate Kubernetes in CNCF"
Hey @kubernetes/steering-committee, we are starting the process to graduate some projects (e.g., https://github.com/cncf/toc/pull/69) in CNCF and would love to have Kubernetes be part of that process.

I've sketched out a rough doc that shows that kubernetes fulfills the requirements here: https://docs.google.com/document/d/18QORSz2_QzlFVDL86XzGXy0BwbO7LYsdSBraQ6iAGu0/edit#heading=h.hfdvv8nysu5h

[2018-01-04 21:34] heckj opened #19 "broken link for steering meeting notes"
I was watching a recording of the steering meeting yesterday, and tried to find the notes that were referenced during the meeting. I [found a link in the README](https://github.com/kubernetes/steering/blame/master/README.md#L42), but the bit.ly link appears to be broken - and is returning a 404: https://bit.ly/k8s-steering

Wasn't entirely sure how to report it, or what the appropriate link fix wo

[2018-01-05 07:06] philips commented on #19
Fixed via #20 thanks!

[2018-01-05 07:06] #19 closed

[2018-01-10 16:35] caniszczyk commented on #12
friendly ping here @kubernetes/steering-committee

[2018-01-10 16:40] caniszczyk opened #21 "Third party dependencies in kubernetes"
Hey @kubernetes/steering-committee, in CNCF we review all of our project dependencies to ensure they comply with the CNCF IP Policy:

There have been a handful of dependencies that have been flagged as potential issues, usually a weak copyleft issue:

* heketi
* ratelimit
* yaml.v2
* hcl
* golang-lru
* dhcp4client
* influxdb (needs upgrade to switch out WTFPL subcomponent)

What would be the feasi

[2018-01-10 19:20] quinton-hoole commented on #21
Thanks.  I've added it to the agenda.  http://bit.ly/k8s-steering-wd

[2018-01-17 00:03] bgrant0607 commented on #21
Re. ratelimit:

Noted here:
https://github.com/kubernetes/client-go/issues/357

was re-added by:
https://github.com/kubernetes/kubernetes/pull/38294

cc @liggitt

[2018-01-17 00:11] liggitt commented on #21
Can be replaced with a golang ratelimiter (https://github.com/kubernetes/kubernetes/pull/38320) if we drop one of the metrics we are pulling from the current ratelimiter (which is of questionable value)

[2018-01-18 23:34] thockin commented on #21
At some point I looked at all of the LGPL libs and they were all LGPL + static linking, which Go satisfies

[2018-01-18 23:39] thockin commented on #21
heketi: I don't know this one

[code]

ratelimit:
[code]

yaml.v2:
[code]

hcl: MPL - how do we feel about that?

golang-lru: MPL

dhcp4client: MPL

influxdb (needs upgrade to switch out WTFPL subcomponent): MIT.  We do not reference the 'github.com/BurntSushi/toml' component which is WTFPL so it is not actually part of our codebase.

[2018-01-24 21:58] spiffxp opened #200 "Formalize the concept of subprojects"
This is based on / inspired by a [SIG Architecture proposal to expand SIG metadata and flesh out OWNERS](https://docs.google.com/document/d/1FHauGII5LNVM-dZcNfzYZ-6WRs9RoPctQ4bw5dczrkk/edit#)

This is driven by a steering committee goal of ensuring that our organizational structure maps to our code structure.

I'd like to start by implementing this concept in [`sigs.yaml`](/sigs.yaml). This ensure

[2018-01-25 15:09] kujenga opened #23 "LGPL License present in the core kubernetes repository"
@kujenga commented on [Mon Jan 08 2018](https://github.com/kubernetes/client-go/issues/357)

There is an LGPL license for code that is vendored in client-go: https://github.com/kubernetes/client-go/blob/master/vendor/github.com/juju/ratelimit/LICENSE

It appears that this is inherited from the main Kubernetes repository: https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/juju/r

[2018-01-25 15:10] kujenga commented on #23
This issue was moved here with ZenHub per the request of @sttts

[2018-01-25 16:41] sttts commented on #23
This is probably a duplicate of https://github.com/kubernetes/steering/issues/21. Client-go is an artifact of of k8s.io/kubernetes (which is the topic of https://github.com/kubernetes/steering/issues/21).

[2018-01-26 04:05] liggitt commented on #23
/close
in favor of #21

[2018-01-26 04:05] #23 closed

[2018-03-29 17:58] bgrant0607 opened #27 "Document what working groups are, and how to form and disband"
- Update docs to describe relationship with SIGs

[2018-03-29 17:59] bgrant0607 commented on #12
Done!

[2018-03-29 17:59] #12 closed

[2018-04-19 00:30] caniszczyk opened #28 "Ensure all kubernetes repos follow the same contributing structure"
Some CNCF members have higher maintenance legal departments and require a bit more documentation in repos regarding contributing criteria. For example, there is the Kubernetes Contributor Guide that mandates that the CNCF CLA be signed and seems to apply to all code, but has a big disclaimer at the top which makes some legal departments wary.  Some of the repo’s have a CONTRIBUTING.md file with a

[2018-04-19 01:06] cblecker commented on #28
@kubernetes/sig-contributor-experience-proposals @kubernetes/steering-committee

[2018-04-22 17:33] cblecker commented on #21
/remove-lifecycle stale

[2018-05-02 21:29] msohn commented on #21
What is the plan going forward ?
Do you plan to remove or replace these flagged dependencies ?
Or is there another mitigation ?

The gardener project [1] is on the way to fork kubernetes/autoscaler since we need to adapt it to machine-controller-manager [2] until machine and cluster APIs discussed in the cluster-API working group have settled and the community has agreed on common implementations.

[2018-05-24 14:43] jessfraz opened #30 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-02 04:14] bgrant0607 commented on #21
For ongoing enforcement, I think FOSSA is the plan.

cc @kubernetes/sig-contributor-experience-feature-requests @kubernetes/sig-testing-feature-requests

[2018-06-24 20:05] jdumars commented on #27
WIP: https://docs.google.com/document/d/1AlI89KijzO9_KAqUX_pbumgld1LN0tte2FMdjLw83wY/edit

Please comment.

[2018-06-24 21:55] jdumars opened #31 "Charters Meta-issue"
This issue is to help organize the work necessary to move SIG/WG charters forward.

[Tracking spreadsheet that was the source for this issue](https://docs.google.com/spreadsheets/d/1i_8oM1KlmXo90zIIgNTdOg-M6xesTggFLnTkgmscMlI/edit#gid=0)

## **CHARTERS MERGED:**

| SIG | Reviewed by| Notes |
|---|---|---|
| [SIG Auth](https://github.com/kubernetes/community/pull/2431) | @jbeda @philips @michelleN

[2018-06-25 02:49] jdumars opened #32 "Update project values"

[2018-06-25 02:50] jdumars opened #33 "Intra-SIG governance"
Need to define:
- its scope (topics, subsystems, code repos and directories)
- responsibilities
- areas of authority
- how members and roles of authority/leadership are selected/granted
- how decisions are made
- how conflicts are resolved

[2018-06-25 02:51] jdumars opened #34 "EOL kubernetes-incubator"
- Clarify the process for approving/vetoing incubator projects and mitigate sponsor shopping
- Update incubator process to explain new GitHub organization strategy
- Clarify graduation process

[2018-06-25 02:52] jdumars opened #35 "SIG charter template finalization"
- Provide suggested governance
- List minimum required content
- Find commonalities across the current charter pool and update templates accordingly

[2018-06-25 02:54] jdumars opened #36 "Formalize sub-projects"
Formalize the concept and governance model around sub-projects, then document and socialize them to the community.

[2018-06-25 02:56] jdumars opened #37 "Resolve disconnects between code orgs and people orgs"
Need to resolve the disconnect between code organization (OWNERS, maintainers) and people organization (SIGs), as well as figure out how to enforce this programatically

[2018-06-25 02:58] jdumars opened #38 "Code of Conduct documentation"
- Update the Code of Conduct Committee to a more recent version
- document enforcement
- broaden coverage beyond maintainers and committers
- handle coding activities and project/public spaces
- specify our own reporting path
- clarify the policy on employer notification and who else may be involved
- decide what should be shared with the accused

[2018-06-25 02:59] jdumars opened #39 "Code of Conduct Committee formation"
- Determine how members of the Code of Conduct Committee should be selected
- Implement selection process
- Select members
- Ratify and communicate to the community about this

[2018-06-25 03:00] jdumars opened #40 "Community resource management"
- Document resources that the community has and make sure they have a home: releases, twitter handles, etc.

also, slack.

[2018-06-25 03:01] jdumars opened #41 "Find homes for unowned areas of the project"
- build system (make, bazel, godep, etc.)
- util libraries
- Github org/repo management (e.g., dealing with Github changes, consistency across repos, etc.)
- Node controller
- kube-controller-manager binary
- hyperkube

[2018-06-25 03:01] jdumars opened #42 "Ecosystem project governance"
- Decide how/whether ecosystem subprojects (e.g., kops, helm) are governed differently
- Develop policies/procedures for donated code (e.g., helm, kubernetes-anywhere, kompose, kargo)

[2018-06-25 03:02] jdumars opened #43 "Simplify the contributor ladder"
- Simplify the contributor ladder

[2018-06-25 03:03] jdumars opened #44 "Delegation of power to SIGs"
- Need to explicitly delegate powers to SIGs
- Document this and socialize with the community

[2018-06-25 03:04] jdumars opened #45 "Escalation process"
- Design, document, and communicate the escalation process

[2018-06-25 03:04] jdumars opened #46 "Funding and budgeting"
- Fund-requesting and budget processes needs to be formalized and documented

[2018-06-25 03:05] jdumars opened #47 "Committee decision-making process"
- Committee decision-making process (e.g., modified lazy consensus seeking) and quorum requirement

[2018-06-25 03:06] jdumars opened #48 "Improve/expand definition of members of standing"
- Improve/expand definition of members of standing
- Determine how this is maintained, especially during elections that require it

[2018-06-25 03:06] jdumars opened #49 "Governance evolution"
- Identify who is responsible for evolving the governance going forward and how changes will be approved

[2018-06-25 03:07] jdumars opened #50 "Communications process"
- Project-wide communication requirements, processes, and mechanisms

[2018-06-25 03:08] jdumars opened #51 "Discussion topics meta-issue"
- Do we need user groups?
- Do we need insurance?
- Do we need a policy similar to [Apache's release policy](http://www.apache.org/legal/release-policy.html)?
- Do we need a Conflict of Interest policy?

[2018-06-25 03:10] jdumars opened #52 "Staffing gaps and conflict resolution"
- Develop processes to address staffing gaps (engineering, docs, test, release, ...)
- effort gaps (tragedy of the commons)
- expertise mismatches
- priority conflicts
- personnel conflicts

[2018-06-25 03:11] jdumars opened #53 "Documentation requirements"
- Determine how documentation policies are enforced with recommendations needed by SIG-Docs
- Integrate enforcement into the release process

[2018-06-25 13:29] LappleApple commented on #47
You might find some of these resources useful: https://github.com/LappleApple/awesome-leading-and-managing/blob/master/Influence-Delegation-and-Decision-Making.md

[2018-06-26 18:48] jdumars commented on #53
Discussed [here](https://youtu.be/UKJYy9Oiuv0?t=5m55s)

**Notes from the discussion:**

- SIG Docs really owns this issue
- Should alpha be documented in the repo?
- Who should docs ping for out of scope docs?
- Code is owned by people not SIGs so this presents a perpetual challenge
- Ownership and someone to poke every cycle

**PROPOSALS FOR DOC REVIEW TIMING:**
- @ KEP TIME (probably too soon)
-

[2018-06-26 18:51] jdumars commented on #31
For context, this was discussed [here](https://youtu.be/UKJYy9Oiuv0?t=2m27s)

[2018-06-26 18:58] jdumars opened #54 "Organize Office Hours"
Discussed [here](https://youtu.be/UKJYy9Oiuv0?t=2m6s)

[2018-06-26 20:39] jdumars commented on #38
see: https://github.com/kubernetes/community/issues/1527

Most but not all repos are using a code of conduct that points to k/community, could use help chasing down remaining stragglers

[2018-07-03 00:04] philips commented on #28
I don't see any reason to not just ensure CONTRIBUTING.md is copied from https://github.com/kubernetes/kubernetes-template-project

Any opposition? If not I will file the issues across the repos.

Hey @jessfraz can you recommend a tool for filing issues like you did with https://github.com/kubernetes/steering/issues/30

[2018-07-03 00:08] cblecker commented on #28
cc @spiffxp who has also done many-repo issue/PR creation

[2018-07-03 00:16] jessfraz commented on #28
It's just part of the tool I made for it. Opens an issue if an issue
doesn't already exist and the file doesn't exist...

https://github.com/jessfraz/secping

Super hacky buyer beware.

On Mon, Jul 2, 2018 at 20:08 Christoph Blecker <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&sea

[2018-07-03 22:20] philips commented on #30
Closing via https://github.com/kubernetes/steering/pull/55

[2018-07-03 22:20] #30 closed

[2018-07-05 18:30] michelleN commented on #39
- [ ] Create an outline for the Steering Committee to review and approve of the definition of the Code of Conduct Committee (CoCC), how CoCC members are selected, general responsibilities, and process
- [ ] Publish CoCC charter created from outline
- [ ] Open form for nominating CoCC members to Steering Committee and SIG Leads/Chairs
- [ ] Steering Committee votes on CoCC members
- [ ] CoCC has th

[2018-07-05 23:53] philips commented on #28
@jessfraz Great! I think I am going to just write a tool to ensure everyone's projects match the template project based on your code. :)

[2018-07-06 01:31] philips commented on #28
I think largely this is an issue that @kubernetes/sig-contributor-experience-feature-requests needs to handle. Posted it over on their mailing list https://groups.google.com/forum/#!topic/kubernetes-sig-contribex/KqEXr5bVGDk

Happy to help though!

[2018-07-06 14:32] jessfraz commented on #28
I can make the tool, would be super fast since it can use the same code :)

On Thu, Jul 5, 2018 at 9:31 PM Brandon Philips <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2018-07-06 14:55] philips commented on #28
If you have time go for it! The only real change from the secping will be
some of the files need to be more or less exact (LICENSE?) And in others
just in the right format (OWNERs)

On Fri, Jul 6, 2018, 7:33 AM Jess Frazelle <notifications@github.com> wrote:

[2018-07-09 18:29] jdumars opened #57 "Kubernetes license scanning"
This comes from an [email to Steering@](https://lists.cncf.io/g/cncf-kubernetes-maintainers/message/61)

Hello Kubernetes maintainers,

I'm running the Linux Foundation's license scanning and analysis services for several LF projects. For CNCF's IP policy and its new license whitelist (approved at the May Governing Board meeting), going forward I'll be running and providing monthly scan reports fo

[2018-07-09 19:39] cblecker commented on #57
/cc
related to: https://github.com/kubernetes/kubernetes/issues/44505

[2018-07-09 23:04] jdumars commented on #31
email sent to steering@ with a link to the new template: https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-charter-template.md

Further reference: https://github.com/kubernetes/community/tree/master/committee-steering/governance

[2018-07-10 19:32] castrojo commented on #28
@caniszczyk The contributor guide has had enough people go through it that we can safely drop the disclaimer. I'd be happy to add whatever language you feel would make it more authoritative so that we can just safely point to it from all the repos.

[2018-07-11 16:49] jdumars commented on #35
WIP: https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-charter-template.md

[2018-07-11 20:30] jdumars opened #58 "Review, ratify and promote Kubernetes Values"
https://youtu.be/BuJhzJriaNY?t=31m20s

[2018-07-11 23:54] philips commented on #57
Asked SIG release and SIG contribx: https://groups.google.com/forum/#!topic/kubernetes-sig-release/6oljCwkD6HQ

[2018-07-12 00:00] jdumars commented on #58
Predicate on #32

[2018-07-12 21:38] philips commented on #57
I am assigning this to @justaugustus because he volunteered to hunt this down via SIG Release.

@justaugustus I think some great next steps would be:

- [ ] Writing a doc for handling these audits for SIG release
- [ ] Creating an umbrella issue on https://github.com/kubernetes/sig-release/issues
- [ ] File issues/PRs with the various sub projects to fix their individual issues
- [ ] Come back her

[2018-07-13 18:51] justaugustus commented on #57
@philips -- will do!

@swinslow -- sounds good! I'll ping you next week. :)

[2018-07-13 18:54] cblecker commented on #57
also relevant: https://github.com/kubernetes/kubernetes/issues/44505

[2018-07-16 20:37] jdumars commented on #31
Re: SIG-VMWare (from the mailing list) -

@quinton-hoole wrote: "I added a comment to the https://github.com/kubernetes/community/pull/2300  The relationship between sig-vmware, and the cloud-provider-vsphere subproject of sig-cloud provider is unclear to me.  It seems that the two efforts should be collapsed into the latter (at least for now), or the compelling reasons for not doing so should be

[2018-07-16 21:43] spiffxp commented on #34
/assign
I'd like to instead repurpose this issue to document:
- if/when kubernetes-incubator repos are moving
- clarify the step by step process to migrate repos from kubernetes-incubator (or other orgs) to kubernetes-sigs
- ditto for making new repo

ref: https://github.com/kubernetes/community/issues/1922

[2018-07-16 21:52] jdumars opened #61 "New repo request: Contributor site"
From the mailing list:

"SIG Contributor Experience would like to apply for a repo as part of our "community" subproject. We are working on generating a contributor.k8s.io site that will basically take all the markdown in k/community and generate a nicer site for us to use instead of passing around raw github links.

Perhaps github.com/kubernetes-sigs/contributor-site with these owners: https://ra

[2018-07-16 22:36] thockin commented on #61
+1

On Mon, Jul 16, 2018 at 2:52 PM Jaice Singer DuMars <
notifications@github.com> wrote:

[2018-07-18 18:57] michelleN commented on #35
Can this issue be closed since the SIG charter template was merged? and then can we open any other tickets if we need to iterate? or do we think there is more work to be done here? cc/ @pwittrock

[2018-07-18 19:31] michelleN opened #62 "add guidance on how to review a charter"
Let's align on what makes a good charter using this issue and then make it a doc. cc/ @philips @pwittrock

[2018-07-18 19:35] michelleN commented on #62
Things I've found:
- It looks like (is formatted like) the [SIG charter template ](https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-charter-template.md)
- It has a `Scope` section that accurately reflects what the SIG does today
- There is a process for role transitions ( how does a Chair step down or how can they be removed)

[2018-07-18 19:56] jbeda commented on #61
Is the thinking that things would move from "community" to "contributor" and, in doing so be placed in a way that it is friendly for static sign generation?

Or is the thinking that there would be an automated system to copy/render things into that repo?

In other words -- would sigs.yaml move?

[2018-07-18 19:57] philips commented on #35
I think this is done.

/close

[2018-07-18 19:57] #35 closed

[2018-07-18 19:59] spiffxp commented on #61
My read of the KEP is no.

[2018-07-18 20:03] spiffxp commented on #61
/assign
I'm happy to help create the repo once the sig has gotten lazy consensus

[2018-07-18 20:13] spiffxp commented on #53
/assign

[2018-07-18 20:22] michelleN commented on #62
We decided in the steering committee meeting today to just use the requirements doc for reviews: https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance-requirements.md

[2018-07-18 20:22] #62 closed

[2018-07-18 20:55] michelleN commented on #39
https://github.com/kubernetes/community/pull/2384 -- bootstrapping process for CoCC published

[2018-07-18 21:04] quinton-hoole opened #63 "Steering committee elections 2018"
Draft timeline:
- Election results announced - early Oct 2018? (‘t’)
- Open for votes - t-2 weeks?
- Announce who may vote (and allow exception applications) - t-4 weeks?
- Candidate bio distribution deadline - t-4 weeks?
- Candidate solicitation - t-6 weeks?
- Sounds like we need to kickstart the process ~early Aug (t-8 weeks).

[2018-07-18 21:06] spiffxp opened #64 "Codify steering committee liasons for SIGs into sigs.yaml"
Discussed during 2018-07-18 meeting

We currently have two steering committee members assigned to review a given SIG's charter in a spreadsheet.  Ideally one who is involved and familiar with the SIG, and one who is not.

We discussed turning this into an ongoing role to make sure we have clear points of contact going forward.  Both for steering to reach out to sigs, and vice-versa.

I will implem

[2018-07-18 21:11] spiffxp commented on #27
/assign @philips @derekwaynecarr @spiffxp

Discussed during 2018-07-18 meeting, the four of us will work to review and push into a PR to be merged by next steering meeting

[2018-07-18 21:15] spiffxp commented on #53
/assign @jdumars
for help on this

[2018-07-18 21:22] spiffxp commented on #27
/unassign @philips
/assign @jbeda
got my wires crossed

[2018-07-19 21:16] jdumars commented on #27
As a follow-up, we probably need to fix existing mis-classified WGs, etc. per this: https://www.google.com/url?q=https://groups.google.com/a/kubernetes.io/d/msg/steering/zEY93Swa_Ss/C0ziwjkGCQAJ&sa=D&ust=1532010011381000&usg=AFQjCNGbTyXk1IeMristsoaqKIo5t-OFiA

[2018-07-19 21:52] timothysc commented on #63
/cc @castrojo @parispittman

[2018-07-24 18:14] jdumars commented on #61
https://youtu.be/I6BwkOA9dn4?t=1m48s

[2018-07-24 18:16] jdumars commented on #53
https://youtu.be/I6BwkOA9dn4?t=2m39s

[2018-07-24 18:42] jdumars opened #65 "Cloud provider SIG and deprecation of existing cloud-specific SIGs"
Context: 20180718 https://youtu.be/I6BwkOA9dn4?t=23m51s

As SIG Cloud Provider takes shape, it has the potential to obviate existing cloud SIGs. Should that be mandated at some point, especially in light of cloud provider code being moved out of core?

[2018-07-24 19:10] jdumars commented on #27
Discussed 20180718: https://youtu.be/I6BwkOA9dn4?t=42m56s

[2018-07-24 19:12] jdumars commented on #57
Discussed 20180718: https://youtu.be/I6BwkOA9dn4?t=49m22s

[2018-07-24 19:17] jdumars commented on #39
Discussed 20180718: https://youtu.be/I6BwkOA9dn4?t=51m49s

[2018-07-24 21:55] timothysc commented on #65
As we start to evaluate charters I think there will need to be
rationalization where several of the providers would move to sub-projects
within the overall SIG.  This is what happened within sig-cluster-lifecycle
naturally, but imo we should leverage the chartering process as a forcing
function to help expedite this rationalization.

On Tue, Jul 24, 2018 at 1:42 PM Jaice Singer DuMars <
notificati

[2018-07-24 21:56] timothysc commented on #65
/cc @spiffxp @jbeda

[2018-07-24 23:50] spiffxp commented on #65
does this mean approve charter -> then move, or move as part of charter review?

[2018-07-27 21:16] spiffxp commented on #27
Merged https://github.com/kubernetes/community/pull/2173

[2018-07-27 23:00] thockin commented on #57
The parts I can answer easily...

heketi/pkg/utils is used by heketi/client/api/go-client which is used by exactly one package in k/k - glusterfs (not surprising since that is what heketi is about).  It may require re-writing that module.

We'd need to figure out why godep is including this.

We were previously advised that the linking exception covered Go because it is statically linked.  Does LF

[2018-07-27 23:48] vishh commented on #57
@dlorenc ^^

license from NVIDIA. Is this intended to refer to software separately installed by the Dockerfile, rather than code
in the kops repo itself? If so, I may propose a tweak to the language here.

The actual Nvidia SW is installed by the docker container and is not distributed as part of kops AFAIK. cc @justinsb to facilitate updating the language in the Readme.

[2018-07-29 21:39] jbeda commented on #61
Approved at the steering committee meeting. But I'm not sure about the process/permissions for creating it.  @spiffxp Can you do it?  (or point me at some docs if we have them so I can?)

[2018-07-30 17:41] dlorenc commented on #57
Do you have a link to the file? We do distribute a Linux distro (as a .iso file) which contains systemd.

[2018-07-30 19:04] swinslow commented on #57
Thanks all for your feedback here.

@thockin For ratelimit and yaml.v2, the linking statement only provides an exception to a couple subsections of LGPL-3.0. The concern is that other provisions of LGPL-3.0 may not align with usage under Apache-2.0.

For the Unlicense reference, the fix has now been merged in kubernetes-client/javascript#61.

@vishh @justinsb Thanks for confirming on the NVIDIA co

[2018-07-30 21:04] jdumars opened #66 "SIG-etcd formation request"
Per [this thread](https://groups.google.com/d/msg/kubernetes-dev/IaQeMHy6BXE/dbfRxmMBBQAJ) in Kubernetes-Dev mailing list.

Why this should be reviewed by the steering committee:

Since etcd is not part of the Kubernetes codebase, but is widely considered a core _component_, it falls into a gray area as far as project governance is concerned.

[2018-07-30 21:18] jdumars commented on #66
Request withdrawn by the submitter.  Reference: https://groups.google.com/d/msg/kubernetes-dev/IaQeMHy6BXE/tXSKFZkDBQAJ

[2018-07-30 21:18] #66 closed

[2018-08-01 15:37] quinton-hoole commented on #63
Thanks.  I believe that @timothysc has such a dashboard already, and a proposed cutoff line score.  @parispittman just to clarify, are you willing to be an election officer?  In that case we have two volunteers, and ideally need to solicit a third.  Could you and George find a third, ideally from a third company?

There is a steering committee meeting today, where I'll make sure that the committee

[2018-08-01 18:15] spiffxp commented on #61
/close
This has been done https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/fnM_YG5ImKE

[2018-08-01 18:15] #61 closed

[2018-08-01 20:12] spiffxp commented on #27
/assign @brendandburns

[2018-08-03 20:30] timothysc commented on #63
@jorge - The general roll'd up activity across the org, cut @ 50-60 for the last year was the general "ok" line that the steering committee thought was a reasonable metric

https://k8s.devstats.cncf.io/d/13/developer-activity-counts-by-repository-group?orgId=1&var-period_name=Last%20year&var-metric=contributions&var-repogroup_name=All

/cc @jbeda @spiffxp

[2018-08-03 23:01] spiffxp commented on #63
Do you have a source for the 50-60? [I see 100 over one year in our meeting notes for 2018-05-09](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit#heading=h.w15bx222nkai)

[2018-08-08 11:29] justaugustus commented on #57
Email update to steering + sig-release + sig-contribex: https://groups.google.com/d/msg/kubernetes-sig-release/6oljCwkD6HQ/sH8W-uwwAAAJ

[2018-08-08 15:07] castrojo commented on #63
Just a reminder that we're blocking on the membership criteria.

If that's still in progress we can at least move forward with election officers and schedule. @jberkus has shown interest in volunteering and can probably help us wrangle the info we need out of devstats. That would give us our third shadow from three different companies.

[2018-08-09 15:30] quinton-hoole commented on #63
@spiffxp I was the one who said something like "about 100, from memory", which is what ended up in the notes.  I think @timothysc 's "50-60" is more accurate, and consistent with the demo given in the meeting.  Lets go with 50 over the trailing 12 months, to err on the side of inclusion.

[2018-08-09 15:52] timothysc commented on #63
@spiffxp cut line is relatively arbitrary.

[2018-08-09 16:19] timothysc commented on #63
@castrojo @parispittman - can you please start the ball rolling on elections and pick dates.  We need to get a move on this.

/cc @kubernetes/steering-committee

[2018-08-09 16:48] spiffxp commented on #64
Will be sourcing from [this spreadsheet](https://docs.google.com/spreadsheets/d/1i_8oM1KlmXo90zIIgNTdOg-M6xesTggFLnTkgmscMlI/edit#gid=0)

[2018-08-09 16:52] spiffxp commented on #31
I just rolled through the description and edited to the best of my ability, but uh, yeah, that was painful, and I'm pretty sure everything after "issues/recommendations" may be out of date because I didn't touch it.  Will be discussing during community meeting update today

[2018-08-09 16:54] spiffxp commented on #39
https://github.com/kubernetes/community/pull/2498

Will be announcing at community update

[2018-08-10 12:47] parispittman commented on #63
Updates
Draft schedule -

August
15th - election announcement: who is eligible to vote, exception process for those who believe they should have a vote, and a request for nominations

September
14th - all canadidate bios / statement of intent is due
19th - voting begins; voters sent poll via email for selection

October
3rd - voting ends; poll closed and votes are tallied. Election officials
4th -

[2018-08-10 18:58] jdumars commented on #65
https://github.com/kubernetes/community/issues/2516

This was raised in the mailing list [here](url
https://groups.google.com/a/kubernetes.io/d/msgid/steering/f42268f0-e863-4c94-8a5d-0c16c95b4be4%40kubernetes.io)

[2018-08-10 19:14] justaugustus commented on #65
Cross-posting my [$0.02](https://groups.google.com/a/kubernetes.io/d/msg/steering/Oowl-ajoBh8/us4nvXcIDwAJ):
[code]

[2018-08-11 04:28] jberkus commented on #63
Wait, what's the process for non-GH contribution claims?  Do we already have a spec on that?

[2018-08-11 14:41] frapposelli commented on #65
Crossposting from kubernetes/community#2516

[2018-08-11 15:39] andrewsykim commented on #65
I think Stephen & Fabio summarized it pretty well :).

As mentioned in our charter, we have a [tentative goal to consolidate all the cloud provider SIGs](https://github.com/kubernetes/community/blob/master/sig-cloud-provider/CHARTER.md#consolidating-existing-cloud-sigs) in the next 3 releases (quarters). We understand that a lot of important discussions/development happens within the current SIG s

[2018-08-12 08:31] nikhita commented on #57
@cblecker :+1: we should **definitely** be making this automated.

quick update on heketi: Have asked the maintainers if they could update the license (instead of us updating our code) since it could have been a side-effect of a whole sale licensing change - https://github.com/heketi/heketi/issues/1279.

[2018-08-12 18:39] parispittman commented on #63
@jberkus We will have a form to fill out and send it out to k-dev on the 15th.

[2018-08-15 17:59] spiffxp commented on #63
I'd like to clear up where the one true copy of election rules should live, ref: https://github.com/kubernetes/community/pull/2542#issuecomment-413278573

[2018-08-15 18:00] spiffxp commented on #27
This remains undone, I can tackle PR'ing this later this week

[2018-08-15 22:04] philips commented on #63
From the steering committee discussion everyone agreed that their should be
one copy and that the OWNERS of that file should be the steering committee.
We defer to you Aaron on the repo location.

On Wed, Aug 15, 2018 at 11:00 AM Aaron Crickenberger <
notifications@github.com> wrote:

[2018-08-16 01:46] spiffxp commented on #63
https://github.com/kubernetes/community/pull/2547
https://github.com/kubernetes/steering/pull/68

[2018-08-17 01:17] derekwaynecarr commented on #27
@spiffxp please send note when pr is opened and would love to review.

[2018-08-28 00:47] caniszczyk opened #71 "Security Audit for Kubernetes on behalf of CNCF"
The CNCF has been piloting a security audit program for CNCF projects:

https://coredns.io/2018/03/15/cure53-security-assessment/
https://github.com/envoyproxy/envoy#security-audit
https://cure53.de/pentest-report_prometheus.pdf

The pilot has been successful and we are happy to start offering this to other CNCF projects that are interested. We would give preference to graduated projects first. Af

[2018-08-28 01:28] jessfraz commented on #71
can we get a company that has a proven track record like NCC group or something... ping @dyn- @killahertz who did the docker one, but no longer work there and may know of good people...

[2018-08-28 01:32] jessfraz commented on #71
ah no it's @jhertz , sorry for the noise

[2018-08-28 01:37] jessfraz commented on #71
also @tqbf and @ddz

(I would like to find a legit company otherwise it's not worth it, not that that other company is not legit just I have not heard of it... someone correct me if I'm wrong... :)

[2018-08-28 03:34] jessfraz commented on #71
I would like to just put for comparison sake the quality of the work from NCC group, versus the links Chris gave above... I looked them over...

https://www.nccgroup.trust/globalassets/our-research/us/whitepapers/2016/june/container_whitepaper.pdf
https://www.nccgroup.trust/globalassets/our-research/us/whitepapers/2016/april/ncc_group_understanding_hardening_linux_containers-1-1.pdf

[2018-08-28 03:42] caniszczyk commented on #71
happy to use whatever vendor the KSC prefers, CNCF is happy to make it happen

[2018-08-28 13:32] ddz commented on #71
Cure53 is actually very good. They have been very good about publishing their audit reports of open source projects (not many security companies do this) and their findings in the linked reports look very solid to me.

[2018-08-28 13:58] j3ssb0t commented on #71
Thanks @ddz that's super helpful and gives me a lot more confidence :)

[2018-08-28 13:59] jessfraz commented on #71
Thanks @ddz that's super helpful and gives me a lot more confidence :)

[2018-08-28 21:11] timothysc commented on #71
/cc @mattmoyer

[2018-08-28 22:18] philips commented on #71
I have only helped lead two third party security audits in my career but I think the process for selection should be something like this:

## Customer Audit Team

- Form a team of 2-3 Kubernetes people to lead the process (audit leads)
- Audit leads create a list of 5-10 focus areas (likely based on the bug bounty scope cc @tallclair)
- Identify 5-10 kube contributors on a subject matter experts (

[2018-08-28 22:19] philips commented on #71
FWIW, I have worked with Matasanto, NCC, and received a recommendation for Cure53 from someone I trust.

That said I deeply believe it is the individuals and not the vendor brand that matters and their fit to the engagement.

[2018-08-28 22:52] jessfraz commented on #71
This all sounds great to me and I agree it's the individual researchers who matter not vendor :)

[2018-08-28 23:01] philips commented on #71
Steering committee: would you mind delegating vendor selection
responsibility to a 2-3 person audit team selected by the [PST](
https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-release-process.md#product-security-team-pst)?
It might not be people from the PST but we could help find the right folks.

On Tue, Aug 28, 2018 at 3:52 PM Jess Frazelle

[2018-08-29 03:53] spiffxp commented on #31
Rolled through and updated again.

[2018-08-29 04:36] spiffxp commented on #28
/assign
I agree implementation of this basically falls to other SIG's.  I'll confirm whether or not we have an appropriate CONTRIBUTING.md in place everywhere.  I noticed @nikhita has been helping out with this as well.

Related: moving all repos to use the same automation for code review and merging: https://github.com/kubernetes/test-infra/issues/6227

[2018-08-29 05:14] spiffxp commented on #28
The following repos currently lack a CONTRIBUTING.md:

- [kubernetes-csi/csi-test](https://github.com/kubernetes-csi/csi-test)
- [kubernetes-csi/docs](https://github.com/kubernetes-csi/docs)
- [kubernetes-csi/driver-registrar](https://github.com/kubernetes-csi/driver-registrar)
- [kubernetes-csi/drivers](https://github.com/kubernetes-csi/drivers)
- [kubernetes-csi/external-attacher](https://github

[2018-08-29 13:06] nikhita commented on #28
xref https://github.com/kubernetes/community/issues/1832

[2018-08-31 22:35] spiffxp commented on #31
I reconciled a number of merged charters and reviewer assignments with the spreadsheet we used to initially assign SC reviewers.

[2018-09-01 15:09] nikhita commented on #28
Created PRs for the list of repos that @spiffxp mentioned. All of them are referenced above. Some of the newer repos did not contain LICENSE and CoC files so I added them as well. :)

Some of these newer repos also don't contain the `SECURITY_CONTACTS` files and do not have an issue for it (since they are new). We either need to run @jessfraz's tool again or have something automated to make sure t

[2018-09-01 16:07] BenTheElder commented on #28
Filed https://github.com/kubernetes/test-infra/pull/9244 to start with regularly running `secping`.

[2018-09-02 02:35] monopole commented on #28
It's preferable to put `CODE_OF_CONDUCT.md`, `CONTRIBUTING.md`, `SECURITY_CONTACTS.md` and other boilerplate into a `docs` subdirectory.  There's [precedent](https://help.github.com/articles/setting-guidelines-for-repository-contributors/
) for this.

That way it's not "above the fold" in the unfortunate github repo UX.  The more files in root, the further down goes the immediately valuable conten

[2018-09-05 17:34] philips commented on #28
FWIW, I have noticed GitHub running an experiment that rolls the file list
up when it is long.

On Sat, Sep 1, 2018 at 7:35 PM Jeff Regan <notifications@github.com> wrote:

[2018-09-05 21:40] spiffxp commented on #36
/assign @spiffxp @bgrant0607

[2018-09-05 21:41] spiffxp commented on #36
/committee steering

[2018-09-06 00:36] BenTheElder commented on #28
It's being a/b tested I think, I've seen it a few times. With it "the fold" is a relatively short max length and the directories are scrollboxed above the README. Who knows if they'll actually make that change though.

If we can agree on the policy, the tooling changes to match should be straight forward. I'd hope we can standardize as much as possible though, Kubernetes and all of its projects ar

[2018-09-07 21:55] joelsmith commented on #71
We used Insomnia Security for an engagement specific to OpenShift and they did a fantastic job. They uncovered privilege escalation vector in our build system and made lots of other recommendations. They have a working knowledge of k8s owing to the work they did for Red Hat. I can provide the name of the lead researcher upon request.

[2018-09-07 22:55] philips commented on #71
Through lazy consensus the steering committee has delegated forming a security audit team to the PST.

I think the next step is to solicit volunteers to run the audit from folks on SIG Auth and the PST. Relevant questions:

- What experience do you have with a third party security audit?
- What experience do you have with the subsystems of Kubernetes that will likely be in scope based on the [bug

[2018-09-07 22:58] philips commented on #71
Moving discussion to SIG Release Issue https://github.com/kubernetes/sig-release/issues/284

[2018-09-18 20:01] spiffxp commented on #50
/unassign

[2018-09-18 20:03] spiffxp commented on #38
/unassign
/committee conduct
I will leave this to the code of conduct committee

[2018-09-21 16:02] philips opened #72 "Budget: purchase PagerDuty license for security@kubernetes.io"
The [PST](https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-release-process.md#product-security-team-pst) wants to automate the rotation of people who handle the security@kubernetes.io reports.

We [set out to have a goal of weekly rotations](https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-rel

[2018-09-21 18:07] cblecker commented on #72
I'd be interested in hearing how this goes for you. We will have similar need at some point in the future to do this for the infra on-call

cc: @kubernetes/k8s-infra-team

[2018-09-21 18:34] BenTheElder commented on #72
Yes please, we'll definitely want something like this for infra on-call.

I can't quite parse that second sentence here, is that a formatting error?

[2018-09-21 19:21] justaugustus commented on #72
$9/user * 5 users * 12 months

On Fri, Sep 21, 2018, 14:34 Benjamin Elder <notifications@github.com> wrote:

[2018-09-21 20:08] philips commented on #72
Chris- OpsGenie is fine. However, evaluating the product just now I have to
have the "Standard" plan to make it work right with their email
integration. So `$29 * 5 users * 12 months` is $1740. Also note we plan to
expand the PST to 7 or so people soon so it may go up to $2500.

On Fri, Sep 21, 2018 at 12:26 PM Chris Aniszczyk <notifications@github.com>
wrote:

[2018-09-21 20:09] philips commented on #72
@cblecker @BenTheElder any opinion on PagerDuty vs. OpsGenie. I am apathetic and have used both. They are workable and quirky in their own ways.

[2018-09-21 20:12] caniszczyk commented on #72
np brandon, we just have a generous deal with opsgenie so we prefer that
route but will defer to the project at the end of the day

On Sat, Sep 22, 2018 at 4:09 AM Brandon Philips <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-09-21 20:40] BenTheElder commented on #72
I've no experience with either and have no opinion other than having an actual community paging rotation set up sounds excellent and I'd love to hear how that goes so we can look at setting it up for the CNCF-kubernetes-infra.
Currently GKE-Kubernetes-EngProd uses Google's internal tooling for test-infra pages instead and we need a migration path.

[2018-09-26 16:47] caniszczyk commented on #72
Can you send me the emails of folks that should be admins for OpsGenie?

Happy to get this done by EOW.

[2018-09-26 16:49] philips commented on #72
You can start with me: bphilips@redhat.com and I can get admin to everyone
else. Will we have our own org?

On Wed, Sep 26, 2018 at 9:47 AM Chris Aniszczyk <notifications@github.com>
wrote:

[2018-09-26 16:51] caniszczyk commented on #72
@philips that's the plan, but waiting for LF IT to confirm that it will be splintered off the LF instance, give me a day or two

[2018-09-26 16:53] philips commented on #72
OK, I am not quite ready as I need to test out the API but that is fine.
Hopefully will have a PoC by EOW.

On Wed, Sep 26, 2018 at 9:51 AM Chris Aniszczyk <notifications@github.com>
wrote:

[2018-09-26 17:35] spiffxp commented on #27
ref: https://github.com/kubernetes/community/pull/2702

We appear to have hit a difference of opinion from @brendandburns

[2018-09-26 18:12] michelleN commented on #63
election ends on Oct. 3 on so I put an item to discuss next steps on the steering agenda for Oct. 10th

[2018-09-26 19:04] michelleN opened #73 "CoCC knowledge transfer session"
Share CoC related historical data and have an open discussion to answer questions the CoCC may have for the steering committee.

[2018-09-26 19:29] caniszczyk commented on #72
@philips, I invited you as an admin and created a "Kubernetes Security" team

It's going to take a bit of time to get the paperwork done to get under the LF plan, they are a bit slower than normal due to the Atlassian acquisition but you should have the freedom to set everything up now and I'll take care of payment and all that jazz when ready.

[2018-09-27 03:57] bgrant0607 commented on #36
Ref https://github.com/kubernetes/community/issues/1673

[2018-09-27 22:03] philips commented on #72
@caniszczyk I need the account activated to use the advanced alerting features

[2018-09-27 22:46] caniszczyk commented on #72
@philips account should be fully activated now with the enterprise features, I logged in and looks good

[2018-09-28 17:28] jdumars opened #74 "DCO vs. CLA discussion"
Per Sarah Novotny:

We need to discuss the legal benefits of remaining on the CLA instead of moving to DCO. To get the expert perspective, I'd like to have one of our lawyers outline why Google is strongly supportive of CLAs.

[2018-10-01 16:39] philips commented on #72
I have access, working with the API now. Thanks.

On Thu, Sep 27, 2018 at 3:46 PM Chris Aniszczyk <notifications@github.com>
wrote:

[2018-10-04 13:12] castrojo opened #75 "Codify election officer rotation and affiliation."
Filing this now so we consider it for 2019. Right now the selection process is "steering committee selects election officers." Having 3 officers this year helped (instead of two) and I was thinking we should consider codifying it like this per election:

- One new member who has never served before.
- Two members who have served before.

In this way we always have one new person learning the proce

[2018-10-04 13:21] castrojo opened #76 "Consolidate election information under steering?"
For 2019 we should keep consolidating the process of the elections. SC did most of this for 2018 but we were running into a deadline, so people have two documents that they have to refer to:

https://github.com/kubernetes/community/tree/master/events/elections/2018
https://github.com/kubernetes/steering/blob/master/elections.md

We should review and determine:

a) Specifically what should go in th

[2018-10-04 14:49] parispittman commented on #76
Process should be separate from policy imo bc we need to be owners for quick turn around PRs

[2018-10-04 14:53] castrojo opened #77 "Switch to Condorcet IRV method for 2019 election"
Linux Foundation/CNCF use Condorcet/IRV for their elections. We use Condorcet/Schulze. We mostly picked Schulze because it's used by a bunch of OSS projects already and seemed like a good choice.

I don't think it would hurt for us to just line up with LF/CNCF on this so that we're consistent. Switching method is trivial in CIVS, this just involves PRing the documentation to mention IRV instead of

[2018-10-04 15:02] parispittman opened #78 "Other election matters that need to be worked out/codified"
- [ ] when does the steering committee engage the election officials? can we say July 1 every year is the date that steering kicks off election conversations?
- [ ] when/how/who does steering committee codify the eligible voter definition every year? ie - are you using devstats, whats the cut off number? will election officials have this information no later than August 1?
- [ ] who makes the anno

[2018-10-04 15:03] idvoretskyi commented on #78
/cc

[2018-10-05 00:27] philips commented on #72
I wrote the tool I need against the API. Everything is fine with Ops Genie solution for now. Thanks!

Tool: https://github.com/philips/oncall-issue-filer

/close

[2018-10-05 00:27] #72 closed

[2018-10-05 00:53] caniszczyk commented on #72
Thanks, glad it worked out.

On Thu, Oct 4, 2018 at 8:27 PM k8s-ci-robot <notifications@github.com>
wrote:

--
Cheers,

Chris Aniszczyk
http://aniszczyk.org
+1 512 961 6719

[2018-10-05 16:34] parispittman opened #80 "Doc Needed - on and off boarding steering members"
Would be good to have a doc for newly elected steering members and those who are retiring/off boarding/[insert leave reason here].

what mailing lists do they need to join? other access needed? should they just show up at the next meeting? should they prepare anything (bio for press?, docs to read/policies to become familiar with?)?

[2018-10-05 20:50] spiffxp commented on #73
/committee conduct
/committee steering
We met last week, notes were taken, punch was served.  We concluded by agreeing we had sufficiently transferred historical knowledge and moved onto pontification by the end of the meeting.

[2018-10-05 20:51] spiffxp commented on #73
/close

[2018-10-05 20:51] #73 closed

[2018-10-05 20:54] spiffxp commented on #63
Updated kubernetes/steering with election results: https://github.com/kubernetes/steering/pull/79

Sundry other PR's and bits of administrivia completed.

We are awaiting a blog post with the results, @brendandburns volunteered, as have election officers.

[2018-10-08 23:33] philips commented on #71
The team had their first meeting: https://groups.google.com/forum/#!topic/kubernetes-sig-auth/DOHShVCW6RM

[2018-10-10 20:21] #63 closed

[2018-10-10 20:21] michelleN commented on #63
Going out Friday.

[2018-10-10 20:31] jdumars opened #81 "Elections Meta-issue"
Reference Issues:
[ #78 ] Other election matters that need to be worked out/codified
[ #77 ] Switch to Condorcet IRV method for 2019 election
[ #76 ] Consolidate election information under steering?
[ #75 ] Codify election officer rotation and affiliation
[#48 ] Update and document Members of standing.

More TBD

[2018-10-10 20:34] jdumars commented on #81
cc: @parispittman @castrojo

[2018-10-10 20:55] sarahnovotny commented on #32
merged https://github.com/kubernetes/steering/blob/master/values.md

[2018-10-10 20:56] #32 closed

[2018-10-10 20:56] sarahnovotny commented on #58
merged in https://github.com/kubernetes/steering/blob/master/values.md

[2018-10-10 20:56] #58 closed

[2018-10-10 20:57] sarahnovotny commented on #54
This has been implemented in @parispittman 's Meet the Contributors "Steering Committee Edition".

[2018-10-10 20:57] #54 closed

[2018-10-11 22:41] spiffxp commented on #31
Updated the issue and spreadhseet based on what I surveyed within kubernetes/community

[2018-10-12 19:53] dims commented on #21
@justaugustus can you please run a quick scan using the FOSSA to see if we still have the issues listed above? (or if any new ones show up)

[2018-10-12 20:08] justaugustus commented on #21
@dims -- I'm on a plane at the moment and towards the end of the week on my coast. I can make sure the bits are in place and kick something off first thing next week though! :)

Also, let's tie the threads together:
- https://github.com/kubernetes/steering/issues/57 is a more up-to-date `k/steering` issue that supercedes some of the things listed here
- `k/sig-release` umbrella tracking issue: htt

[2018-10-12 20:08] #21 closed

[2018-10-18 21:15] spiffxp commented on #27
ref: https://github.com/kubernetes/community/pull/2814
ref: https://github.com/kubernetes/community/pull/1994

I'm re-titling this because it seems like scope has grown beyond just creating a working group.

[2018-10-18 21:46] spiffxp commented on #81
opened https://github.com/kubernetes/steering/pull/82 for some of these

[2018-10-18 21:47] spiffxp commented on #44
/committee steering
/remove-lifecycle stale
Once we have all charters merged I think we should see if this has been accomplished, or if there are still uncovered areas of responsibility, or areas where the steering committee is a bottleneck.

[2018-10-18 21:49] spiffxp commented on #34
/remove-lifecycle stale
/committee steering
Now that everything in kubernetes-incubator uses the same automation as kubernetes-sigs, moving repos from one place to the other is pretty much a matter of:
- finding sigs willing to own/sponsor these subprojects
- migrating members from kubernetes-incubator to kubernetes-sigs

[2018-10-18 22:01] spiffxp commented on #28
Every repo in the kubernetes project now uses prow+tide for review and merge automation.  There are some minor differences around whether /approve is implicitly added, and whether tide squashes or merges.  But mostly everything is the same.

So now this is just a matter of vetting whether all the right docs are in the right places.  And agreeing on where we want those right places to be.

[2018-10-18 22:02] spiffxp commented on #76
I tried real hard to separate policy (k/steering) from process (k/community), but ultimately I found there was still a lot duplicated between the two docs.  For example, voter eligibility ended up being spelled out in all the places.

[2018-10-19 23:16] #75 closed

[2018-10-24 17:55] joelsmith commented on #71
FYI, @jessfraz has stepped down as one of the wg leaders since she's too busy now, and the PST has selected Craig Ingram @cji to replace her.

[2018-10-24 21:02] spiffxp commented on #74
Blocked on scheduling lawyers to have discussion w/ steering present

[2018-10-24 21:54] spiffxp commented on #31
We talked during steering today about potentially just not doing the work of writing a charter if a sig plans to fold into sig cloud provider.  Also a question of whether sig big data should actually be a wg instead.

[2018-10-29 18:34] jdumars commented on #31
https://github.com/kubernetes/community/pull/2804 is probably ready for SC review given the lack of feedback

[2018-11-07 21:46] timothysc commented on #74
/assign @sarahnovotny @bgrant0607

There was a CNCF meeting or survey that outlined the details, could those details be added here?

[2018-11-07 21:49] #74 closed

[2018-11-07 21:50] spiffxp commented on #74
ref: https://github.com/kubernetes/community/issues/2649

[2018-11-07 22:16] bgrant0607 commented on #74
CNCF contributor feedback is that DCO tooling needs improvement:
https://docs.google.com/presentation/d/1NkaMG5FUf06m6397A-wb3IW0ibjisyRBg3rUuUI7Mu0/edit#slide=id.g431f8d4ebc_0_28

[2018-11-13 21:41] dims commented on #57
`github.com/heketi/heketi` has been fixed

[2018-11-14 20:01] michelleN opened #83 "Cleanup / Audit of working groups"
Using [this spreadsheet](https://docs.google.com/spreadsheets/d/1IqNkd-G2EveZem1PbG8aWGCDxbBhgHPhqwfethh5BoU/edit?usp=sharing) to track the audit.

[2018-11-22 02:07] justaugustus commented on #31
- SIG Release charter has merged after review from Aaron and Tim St. Clair - https://github.com/kubernetes/community/pull/2919
- SIG PM charter - next on the list to revise for me; hopefully before KubeCon, worst case, by EOY
- SIG Azure charter - I'm not going to bother refactoring this one, as the time would be better spent getting the SIG rolled under SIG Cloud Provider

[2018-11-22 19:30] justaugustus commented on #47
/reopen
/remove-lifecycle rotten

[2018-11-22 20:01] justaugustus commented on #52
/reopen
/remove-lifecycle rotten

[2018-11-22 20:02] justaugustus commented on #49
/reopen
/remove-lifecycle rotten

[2018-11-22 20:02] justaugustus commented on #51
/reopen
/remove-lifecycle rotten

[2018-11-22 20:02] justaugustus commented on #46
/reopen
/remove-lifecycle rotten

[2018-11-22 20:04] justaugustus commented on #48
/reopen
/remove-lifecycle rotten

[2018-11-22 20:05] justaugustus commented on #41
/reopen
/remove-lifecycle rotten

[2018-11-22 20:06] justaugustus commented on #41
Sounds like a fair amount of these things could be owned by the to-be-formed Release Engineering subproject, under SIG Release.

[2018-11-22 20:06] justaugustus commented on #43
/reopen
/remove-lifecycle rotten

[2018-11-22 20:07] justaugustus commented on #42
/reopen
/remove-lifecycle rotten

[2018-11-22 20:07] justaugustus commented on #37
/reopen
/remove-lifecycle rotten

[2018-11-22 20:09] justaugustus commented on #37
[Peribolos](https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos) seeks to do this.
From what I hear, we're close to being able to enable it on the org level.

cc: @fejta @cblecker

[2018-11-22 20:10] justaugustus commented on #33
/reopen
/remove-lifecycle rotten

[2018-11-22 20:12] justaugustus commented on #40
/reopen
/remove-lifecycle rotten

[2018-11-23 01:52] caniszczyk opened #84 "CNCF dev rep from the KSC"
Kubernetes Steering Committee:

You will recall that the CNCF governing board (GB) created 2 developer seats in 2017, one to be filled by a Kubernetes Steering Committee (KSC) member and one to be elected from the other (non-sandbox) CNCF-hosted projects. Details are here: https://github.com/cncf/foundation/blob/master/gb-developer-reps.md

Starting from the December 2017 GB meeting, Michelle Noor

[2018-11-30 02:30] spiffxp commented on #27
OK, what's keeping this open?  AFAICT it's:
- https://github.com/kubernetes/community/issues/2766 - document that working groups may own code in an associated repo
- https://github.com/kubernetes/community/issues/2176 - add a field to sigs.yaml that can list the specific sigs a wg spans

[2018-11-30 02:42] spiffxp commented on #36
Subprojects are called out distinct entities [in k/community/governance.md](https://github.com/kubernetes/community/blob/master/governance.md#subprojects) and in the [k/community README.md](https://github.com/kubernetes/community#governance).  That said I suspect if you pulled a random member of the community aside and asked them what a subproject is and why we have them, you wouldn't get much of

[2018-11-30 02:43] spiffxp commented on #36
I am punting this to Backlog because I don't expect to make any substantive progress on this before the end of the year

[2018-11-30 02:49] spiffxp commented on #57
/committee steering

[2018-11-30 02:55] spiffxp commented on #84
/committee steering
https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/lHVWSNyiENo

[2018-11-30 02:56] spiffxp commented on #83
/committee steering

[2018-11-30 02:56] spiffxp commented on #80
/committee steering

[2018-11-30 02:59] spiffxp opened #85 "Contributor Summit session prep"
/committee steering
https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/XAgW-JBICOQ

Need owner(s) to put together summaries of what we have done and what we are planning to do.

[2018-11-30 03:00] spiffxp commented on #84
/assign @michelleN

[2018-11-30 13:01] dims commented on #84
+1 to @michelleN

[2018-12-04 17:09] miskun commented on #71
So, is the plan to limit the scope on K8S "kernel" only or is there plan to provide security audit also for more complete solutions? I'm talking about K8S distros. If so, we'd like to be involved.

[2018-12-05 00:38] philips commented on #27
I believe #2766 was addressed @spiffxp so I closed it.

[2018-12-05 17:24] spiffxp opened #86 "Questions around some charter scope specifics"
This came up during yesterday's SIG Release meeting.  They were looking for some clarification around:

Thus far it appears as though the steering committee has not been actively involved in either of these.

My canned response was that we have been comfortable with SIG Release owning this from an execution perspective, and putting steering on the critical path would dramatically bottleneck us.  I

[2018-12-05 21:51] monopole commented on #28
My comment should not be taken as blocking.
E.g. we've put all these docs at the top level in https://github.com/kubernetes-sigs/kustomize

[2018-12-05 21:55] michelleN opened #87 "Kubernetes Steering face to face at KubeCon Seattle prep"

[2018-12-05 23:48] pwittrock commented on #28
@nikhita FYI

[2018-12-06 21:34] BenTheElder commented on #28
FWIW I am always trying to minimize what is in the repo root, if we had
thought of this earlier docs/ would have been nice for most of these.

On Wed, Dec 5, 2018 at 10:26 PM Nikhita Raghunath <notifications@github.com>
wrote:

[2018-12-09 23:18] michelleN commented on #85
- Organized SIG charters to help clarify roles, responsibilities and governance
- Created Code of Conduct Committee
- Solidified core values

[2018-12-09 23:21] michelleN commented on #85
I think we should/could create some slides around the big ticket items we've worked on and then talk about why those were important and the impact we they will make.

[2018-12-10 06:35] philips commented on #85
@michelleN The latest update is here: https://github.com/kubernetes/steering/issues/71#issuecomment-445090310

The security audit working group is documented here: https://github.com/kubernetes/community/tree/master/wg-security-audit

[2018-12-10 06:38] philips commented on #85
@michelleN Oh, sorry, that is for the security audit (which we also got funding for IIRC).

Anyways, the bug bounty program is nearing the end of vendor selection. @mayakacz is helping to lead that.

[2018-12-21 15:20] andrewsykim commented on #65
/remove-lifecycle stale

We had a chance to talk about this in more details at KubeCON. We have an action item for 2019 to write a proposal to the steering committee on how we think this should be done. Will follow up with @spiffxp @calebamiles when we have something more concrete.

[2018-12-21 15:21] andrewsykim commented on #65
Discussions around this during our deep dive: https://youtu.be/iRj5Dtxzw78?t=1469

[2018-12-26 15:11] dims commented on #84
@michelleN will continue as developer rep on the GB on behalf of the KSC per discussion in steering meeting (and subsequent update to the mailing list - https://groups.google.com/a/kubernetes.io/d/msg/steering/lHVWSNyiENo/2Mr9PimbAAAJ)

/close

[2018-12-26 15:11] #84 closed

[2018-12-27 10:56] nikhita commented on #28
I put together some quick Go code to list repos not having the `CONTRIBUTING.md` file and this is the list right now:

**kubernetes:**
kubernetes/dashboard
kubernetes/federation
kubernetes/cloud-provider-alibaba-cloud
kubernetes/cloud-provider-sample

**kubernetes-sigs:**
kubernetes-sigs/aws-alb-ingress-controller
kubernetes-sigs/mutating-trace-admission-controller

I have created PRs for all of t

[2018-12-27 11:21] nikhita commented on #57
Fyi: The following repos did not have the LICENSE file. I have created PRs to add them:

- kubernetes-client/go - https://github.com/kubernetes-client/go/pull/19
- kubernetes-client/go-base  - https://github.com/kubernetes-client/go-base/pull/10
- kubernetes/cloud-provider-sample - https://github.com/kubernetes/cloud-provider-sample/pull/1

[2018-12-27 12:05] nikhita commented on #28
Fyi I used the same tool to identify repos with missing LICENSE (https://github.com/kubernetes/steering/issues/57#issuecomment-450132738) and CoC (https://github.com/kubernetes/community/issues/3053).

Created PRs for all repos to fix this. We should look into automating this though (can discuss the automation in https://github.com/kubernetes/community/issues/3053).

[2019-01-02 15:56] idvoretskyi commented on #78
/remove-lifecycle stale

[2019-01-02 17:10] parispittman commented on #77
/remove-lifecycle stale

[2019-01-15 19:17] bgrant0607 commented on #85
Contributor summit is over

[2019-01-15 19:17] #85 closed

[2019-01-15 19:22] bgrant0607 commented on #33
This should be covered by SIG charters.

[2019-01-15 19:22] #33 closed

[2019-01-15 19:31] bgrant0607 commented on #38
This should be delegated to the CoC committee. Do they need a repo, or is the community repo sufficient?

[2019-01-16 17:57] philips commented on #34
I think the only way we are going to get this done is by setting an EOL deadline and asking the repo maintainers to find a new home or create a new org that will make them an ["associated repo"](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#associated-repositories).

Does July 1st seem like enough lead time?

[2019-01-16 18:00] philips commented on #37
@jdumars Is Peribolos a solution that would cover this issue?

[2019-01-16 18:04] philips commented on #28
Remaining repos as of 2019-01-16:

- https://github.com/kubernetes/federation/pull/299

[2019-01-16 18:05] philips commented on #38
/assign @carolynvs @jdumars @parispittman @eparis @Bradamant3

Based on https://github.com/kubernetes/community/tree/master/committee-code-of-conduct

[2019-01-16 18:09] philips commented on #41
@jdumars how do you think we should work through this list? I don't know where some of these things currently live or who initially created them.

My only hunch is we identify the people who created the thing and ask them what SIG it should belong to and then just start assigning SIGs to own them.

[2019-01-16 18:09] philips commented on #42
@jdumars Does this document help? What is missing? https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md

[2019-01-16 18:10] philips commented on #43
This issue feels unactionable without additional context from @jdumars. Can we close it or can you add more details?

[2019-01-16 18:11] philips commented on #44
I agree that charters merged will fix this.

[2019-01-16 18:16] philips commented on #87
The CVE scanning effort will require coordination with the Go community IMHO. Right now there is no place to even put the vulnerability metadata in a package AFAIK.

[2019-01-16 18:18] philips commented on #81
Which ones are left to be fixed @jdumars and @spiffxp?

[2019-01-16 18:20] philips commented on #71
I am going to close this out since it has been delegated to https://github.com/kubernetes/community/tree/master/wg-security-audit and the work is underway.

/close

[2019-01-16 18:20] #71 closed

[2019-01-16 18:35] nikhita commented on #37
@jdumars Can you elaborate on what you meant by disconnect here?

[2019-01-16 21:55] philips opened #89 "Create the Product Security Committee"
tl;dr @kubernetes/steering-committee LGTM this issue to approve the [Kubernetes Product Security Team](https://github.com/kubernetes/sig-release/blob/master/security-release-process-documentation/security-release-process.md#product-security-team-pst) becoming the Product Security Committee.

The product security team was formed to handle disclosures to security@kubernetes.io and document disclosur

[2019-01-16 21:55] philips commented on #89
/assign @kubernetes/steering-committee

[2019-01-16 22:02] dims commented on #89
LGTM 👍

[2019-01-16 22:17] spiffxp commented on #89
LGTM

[2019-01-16 22:31] tpepper commented on #89
LGTM from SIG Release side

[2019-01-16 22:37] justaugustus commented on #89
Another LGTM from SIG Release.
@spiffxp -- thanks for getting us closure on this so quickly! :)

[2019-01-17 06:43] shashidharatd commented on #28
kubernetes/federation#299

The pr is merged.

[2019-01-17 06:43] nikhita commented on #28
Thanks, @shashidharatd! Closing this issue, let's discuss automating this in https://github.com/kubernetes/community/issues/3053.

/close

[2019-01-17 06:43] #28 closed

[2019-01-18 20:18] dims commented on #57
a recent FOSSA scan on kubernetes/kubernetes run by @justaugustus is here : https://s3.amazonaws.com/blob.fossa.io/FOSSA_BOMS/162/REPORT_kubernetes_1547780670928.html?AWSAccessKeyId=AKIAJEGBNPHNC7DM3S3A&Expires=1547927840&Signature=2eVXu7KZwzyX2LYuSqDbGesh26I%3D

Looks like we may have a MPL 2.0 dependency from https://github.com/hashicorp/golang-lru we'll have to check with folks if that's accept

[2019-01-30 14:44] dims commented on #57
We now have a sig-release sub project meeting (hoping to get a regular schedule for it) : https://docs.google.com/document/d/147eeNq72lreANWNtL1HWJYbAYMfQoB7S_2sG8ycQ8_g/edit?usp=sharing

Please see approved licenses here : https://docs.google.com/presentation/d/1tbH15qF7bXOp8veRKHlWSeH6w1NWkMN3qmIwB6LvvgU/edit#slide=id.p1

And a recent scan by CNCF folks : https://docs.google.com/spreadsheets/d/1

[2019-01-30 14:46] dims commented on #89
LGTM

[2019-01-30 14:47] dims commented on #89
Do we need to update some metadata somewhere?

[2019-01-30 15:03] swinslow commented on #57
Thanks @dims. One clarification: the dependencies you mentioned were recommended for approval as license exceptions by the CNCF IP committee, and are pending approval by the GB; the formal GB vote to approve has not yet occurred.

[2019-01-30 15:06] justaugustus commented on #57
@swinslow -- just for visibility, do we know when that vote will be?

[2019-01-30 15:09] dims commented on #57
Ack thanks for the revision @swinslow :)

[2019-01-30 15:10] dankohn commented on #57
The vote will be in March, but I assure you that the GB does not want to delay Kubernetes releases. If you're following the guidance in those documents (e.g., avoiding blacklisted licenses), you should go forward with the regular release process. If we come upon problems, or the GB requests a change in policy, we will work with SIG-release to find alternative libraries.

[2019-02-08 11:43] nikhita commented on #57
I have created https://github.com/kubernetes/community/pull/3231 to add the list of whitelisted licenses to k/community.

[2019-02-13 21:20] tpepper commented on #57
See https://github.com/kubernetes/sig-release/issues/223

[2019-02-13 21:21] bgrant0607 commented on #57
SIG Release is tracking this now.

[2019-02-13 21:21] #57 closed

[2019-02-13 21:22] castrojo commented on #83
I was checking these as part of a contribex audit, here are ones that are inactive and their progress: https://github.com/kubernetes/community/issues/3188

[2019-02-15 21:28] #50 closed

[2019-02-15 23:15] cblecker commented on #76
/remove-lifecycle rotten

[2019-02-19 00:42] #64 closed

[2019-02-19 19:37] philips commented on #89
@parispittman Do you know where committees live? Or maybe @michelleN who has been helping get the CoCC one going?

[2019-02-19 20:28] michelleN commented on #89
@philips The CoCC info lives in the kubernetes/community repo [here](https://github.com/kubernetes/community/tree/master/committee-code-of-conduct)

[2019-02-21 15:18] philips commented on #89
@spiffxp as part of the GitHub management team can you create the security committee github.com/kubernetes/security similar to github.com/kubernetes/steering? We have a number of documents that we need to manage like subscription lists for CVE disclosure which currently live here: https://github.com/kubernetes/sig-release/tree/master/security-release-process-documentation

[2019-02-21 21:20] cblecker commented on #89
https://github.com/kubernetes/org/issues/new?assignees=&labels=area%2Fgithub-repo&template=repo-create.md

[2019-02-22 19:33] philips commented on #89
Thanks @cblecker.

Repo request here: https://github.com/kubernetes/org/issues/520

[2019-02-26 23:23] joelsmith commented on #89
Now that the repo has been created, I've opened a PR to copy the docs from sig-release:
https://github.com/kubernetes/security/pull/1
And another one to document the new committee in k/community:
https://github.com/kubernetes/community/pull/3311

[2019-02-27 02:42] nikhita opened #92 "Document process for User Groups formation"
Ref: https://github.com/kubernetes/community/pull/3299#issuecomment-467699660

User Groups were added as a community group in https://github.com/kubernetes/community/pull/3174. Given that we are also adding a `usergroups` field to `sigs.yaml` (https://github.com/kubernetes/community/pull/3298), it would be good to have processes defined and documented for formation of User Groups.

The doc should

[2019-03-05 20:40] timothysc commented on #31
This issue is so old and stale, I'd like to propose that we close it and open a new issue with the current work items remaining.

[2019-03-06 19:24] nikhita commented on #36
/remove-lifecycle stale

@spiffxp I'd like to move the automation around subprojects forward. Is there any progress from steering around this?

I'm also wondering what the term "formalize subprojects" really entails.... :thinking:

[2019-03-06 19:27] nikhita commented on #89
Looks like this is done? :)

- https://github.com/kubernetes/security exists with docs for security-related processes
- The committee exists formally in the community repo: https://github.com/kubernetes/community/tree/master/committee-product-security

[2019-03-06 19:28] philips commented on #89
Yes, the last thing is to clean up the sig release repo and put in redirects from the old docs with deletion times.

If anyone has time to get to it before me I would appreciate it :)

[2019-03-06 19:44] nikhita commented on #89
Created https://github.com/kubernetes/sig-release/pull/537. Let's wrap this up. :)

[2019-03-06 20:00] nikhita commented on #89
https://github.com/kubernetes/sig-release/pull/537 merged :tada:

Closing.
/close

[2019-03-06 20:00] #89 closed

[2019-03-07 02:24] philips commented on #89
thanks @nikhita !!!

[2019-03-11 21:13] timothysc commented on #36
@nikhita - The biggest issue is adding fields to enumerate leads+slack channels for subprojects.

Right now we point to owners files but that is pretty messy imo, subprojects should have well defined leads or points of contact.

[2019-03-11 21:22] timothysc commented on #37
@jdumars I really see this as a logistical issue for contribex, and not necessarily something that should be owned by steering.  I'm going to close this issue for @kubernetes/sig-contributor-experience-feature-requests to handle, but feel free to re-open if there are things that you think steering should be involved in.  For example, we may want final approval on a KEP that outlines how we want to

[2019-03-11 21:23] #37 closed

[2019-03-11 21:24] timothysc commented on #38
Folks is there any update on this?

[2019-03-11 21:28] timothysc commented on #42
I kind of think this is a non-issue anymore with the formation of hierarchy and subprojects.  Most major projects have found a landing zone, but I'll enqueue for us to discuss.

[2019-03-11 21:38] timothysc commented on #43
Agreed, plus I also think we should delegate this to contribex to own vs. having us hold this issue open for a long time.

[2019-03-11 21:38] #43 closed

[2019-03-11 21:39] timothysc commented on #44
I think this requires a re-evaluation of what we have documented now and clarify where things are missing.

[2019-03-11 21:42] timothysc commented on #46
Given recent conversations wrt to CNCF engagement, I'm going to triage for sooner rather than l8r.
/cc @jbeda @philips

[2019-03-11 21:47] philips commented on #44
@timothysc can you expand that thought? Between the description on this issue and your comment I don't know how we start on this.

[2019-03-11 21:50] philips commented on #46
@bgrant0607 made a comment on a steering call about some $xx threshold where we encourage maintainers to [directly make a service desk](https://github.com/cncf/servicedesk) request otherwise they need to escalate to steering.

I agree with this high level proposal

[2019-03-11 21:54] dims commented on #46
+1 to $xx, though we still have to pick `xx` :)

[2019-03-11 21:54] timothysc commented on #65
There is a proposal in-flight and I already reviewed and would be happy to help shepherd it through.

[2019-03-11 21:58] timothysc commented on #77
I'm going to fold this under #76 because steering will need to resolve plans for 2019.

[2019-03-11 21:58] #77 closed

[2019-03-11 21:59] timothysc commented on #77
Consolidating this under #76

[2019-03-11 22:00] timothysc commented on #78
Consolidating this under #76

[2019-03-11 22:00] #78 closed

[2019-03-11 22:01] timothysc commented on #81
Welp I did consolidation too soon now I guess.

[2019-03-11 22:02] timothysc commented on #76
Closing in favor of #81

[2019-03-11 22:02] #76 closed

[2019-03-11 22:04] andrewsykim commented on #65
Thanks @timothysc! Here's the rough timeline we set out for the proposal so far:

Final Walkthrough of the Proposal: 20/03/19 during SIG Cloud Provider biweekly
Send Proposal to Steering Committee: 03/04/19 (possibly sooner if we have full consensus)

This should set us up in time for KubeCON NA 2019. Big shoutout to @d-nishi for driving this forward!

[2019-03-11 22:05] timothysc commented on #92
Is there anything else we need todo here?

[2019-03-12 01:44] nikhita commented on #37
Happy to take this on the contribex side. I'm still confused about what the issue means though. :)

@jdumars could you open an issue about this in k/community?

[2019-03-12 01:47] nikhita commented on #92
Yes, we need a governance doc for User Groups - just like we have for SIGs and WGs in https://github.com/kubernetes/community/tree/master/committee-steering/governance.

Basically, a doc outlining the different roles in a User Group (leads, chairs?), creation and retirement process.

[2019-03-12 01:49] nikhita commented on #92
Oh, I just noticed the `help wanted` label on this.

I'm happy to help move this forward given that we are in the process of adding a new user group (https://github.com/kubernetes/community/pull/3304) but I think the doc needs to come from steering and I'm not sure how anyone non-steering can help? :thinking:

[2019-03-12 02:26] fejta commented on #37
I believe we now enforce that people in OWNERS files are now members of the org.

[2019-03-12 02:30] nikhita commented on #37
We don't do that yet :see_no_evil:

There is nothing that checks that a user is an org member when they are being added to an OWNERS file (https://github.com/kubernetes/test-infra/issues/10553 is an open issue for that...fell out of my radar, will pick it up again).

We also need to do an audit of current OWNERS files. We have some with non org-members in them. Ref: https://github.com/kubernetes/k

[2019-03-13 00:26] bgrant0607 commented on #36
@nikhita @spiffxp @timothysc

Initially "formalize" meant "make it real". Aaron did a fair bit of that already.

I envision subprojects being the main bridges between our people organization and our code organization.

Some ideas that have been proposed to improve the use of subprojects as an organizational and management construct:
* Consolidate subproject owners (leads), approvers, and reviewers

[2019-03-13 19:01] nikhita commented on #36
Thanks, Brian!

A few points/questions to better understand the ideas:

I'm guessing this means adding support for github teams or using a central config for all OWNERS file across an org: https://github.com/kubernetes/test-infra/issues/10065.

I can try moving this forward from a contribex point of view in https://github.com/kubernetes/test-infra/issues/10065 but I think it'll take time to figure

[2019-03-13 20:22] #83 closed

[2019-03-13 20:24] timothysc commented on #31
I will go through existing charters and see what needs to be changed.

[2019-03-13 20:24] #31 closed

[2019-03-13 20:27] #27 closed

[2019-03-13 20:37] timothysc commented on #92
@pwittrock - thx for helping out here.

[2019-03-13 20:38] timothysc commented on #92
@jbeda - could you outline your thoughts here?

[2019-03-13 20:40] jbeda commented on #92
Haha -- not sure I can own this but I do see a certain level of overlap here between User Groups (from a governance point of view) and geographic based meetups.  There is a community with leaders and standards.  In return they get to use the Kubernetes name.

We should perhaps look to join the streams here and leverage any work that is being done around CNCF chartered meetups.

@parispittman @idvo

[2019-03-13 20:52] bgrant0607 commented on #46
Doc about what CNCF projects need: https://docs.google.com/document/d/1HLRFOCgSleHX5ZHu3PQRTAVQB-KNjxggZxc6CFLLQxQ/edit

[2019-03-13 21:03] timothysc commented on #52
@parispittman could you or someone from @kubernetes/sig-contributor-experience-misc-use-only-as-a-last-resort give an update here?

[2019-03-13 21:04] timothysc commented on #48
Closing this issue in favor of the meta issue to lump the items together.

[2019-03-13 21:16] timothysc commented on #41
I believe @parispittman mentioned there was a spreadsheet on this one that we can follow up on during next meeting.

[2019-03-17 17:53] nikhita commented on #36
This was discussed in the latest Public Steering Committee meeting ([recording](https://www.youtube.com/watch?v=X3ySJ09clgQ), [meeting notes](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit#heading=h.d948oepiqbjg)).

Current status: we are discussing subproject roles in https://github.com/kubernetes/community/pull/3413. Once that gets finalized, we can move to

[2019-03-18 23:41] jberkus commented on #92
@jbeda the CNCF already manages meetups.  We don't need to add more things to manage.  And, speaking as a meetup organizer, I really don't need to change this.

[2019-03-19 00:15] jberkus commented on #92
@jbeda:  CNCF uses Meetup.com for meetup groups.  They really don't provide any support, or do any work, aside from that, except for periodic pizza sponsorship.  Meetup.com is not an adaptable or customizable platform, so it wouldn't be suitable for UGs.

[2019-03-19 15:07] idvoretskyi commented on #92
@jberkus we do provide much wider support for the Meetup groups except for the periodic pizza sponsorship (we may chat about that independently from this case if you have any concerns), but in general you are right - meetup.com is not a platform that was designed for UG use cases.

[2019-03-19 18:38] jdumars commented on #38
/remove-lifecycle stale

[2019-03-19 18:38] jdumars commented on #38
Still in progress. It turns out that this is delicate work staffed by very busy people.

[2019-03-27 19:30] timothysc commented on #65
Chatted with Andrew, and they would like to present and update on April 10th.

[2019-03-27 20:27] timothysc commented on #36
Thanks @nikhita for all your help with this!

[2019-03-27 20:27] #36 closed

[2019-03-27 20:31] timothysc commented on #92
AI: @pwittrock will send out an email soliciting folks from the community to help draft a document and timeout in a couple of weeks if no one steps up.

[2019-03-27 20:43] timothysc commented on #40
All of the documentation is stored in the community repo.
https://github.com/kubernetes/community/tree/master/communication

https://docs.google.com/spreadsheets/d/1Pmlj5nN_QJ3rRlc-HKOLfRdYY5qCWPMjnNPAdZZ22tg/edit?usp=sharing

Q: Question from @spiffxp - who actually owns the content?
    - SIG docs doesn't actually own the content...
Q: Linux Foundation / CNCF?
A: Zach (Doc Writer) and Katelin ar

[2019-03-27 20:45] timothysc commented on #40
As a point of rectification - https://github.com/kubernetes/website/pull/12905

[2019-03-27 20:46] timothysc commented on #40
process doc - https://docs.google.com/document/d/1uYM7lSNPpY5THAK8vx5RndCoYLQOrYgPtWlzrlvgirA/edit

[2019-03-27 20:48] timothysc commented on #46
What's going, what's the process, etc.

[2019-03-27 20:51] timothysc commented on #38
@michelleN - saw a note that she needed to review the charter.
@parispittman - Currently blocked on the charter.

[2019-03-27 20:53] philips commented on #42
Does the [associated repos document address](https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#associated-repositories) the first point "Decide how/whether ecosystem subprojects (e.g., kops, helm) are governed differently"

On the second point who has handled donated code in the past? @michelleN on helm? @janetkuo on kompose? I am happy to make a more

[2019-03-27 20:57] timothysc commented on #52
TL;DR - Closing this in favor of finer grained issues.

However we should one specific issue on staffing gaps that exist across the project.  What were looking for is a more structured means by which we can address this issue.   @bgrant0607 will open the new issue.

[2019-03-27 20:57] #52 closed

[2019-03-27 20:58] timothysc commented on #52
@michelleN suggested that we might want to survey the sig leadership on key staffing gaps.

[2019-03-27 21:05] bgrant0607 opened #94 "Clarify and improve how we identify and close staffing gaps across the project"
This supersedes the "staffing gaps" part of https://github.com/kubernetes/steering/issues/52

We don't have a systematic way to identify, advertise, and fill areas that need to be staffed across the project, except in a few areas, such as the release team.

There are at least 3 areas:
1. Work within SIGs and committees. This is why we created the role board. But most SIGs haven't defined roles. De

[2019-03-27 22:23] spiffxp commented on #40
Opened https://github.com/kubernetes/community/issues/3524 to cover formalizing blog duties as a subproject (of sig-docs? since the folks involved are in that SIG anyway)

[2019-03-28 18:16] pwittrock commented on #92
@daminisatya will lead and I will support.

[2019-03-28 23:19] janetkuo commented on #42
I believe @sebgoa handled the donation of kompose.

[2019-03-29 06:47] surajnarwade commented on #92
@timothysc , @dims
I would like to help also :)

[2019-03-29 07:26] sebgoa commented on #42
kompose was dontated as part of a software grant when I signed the Skippbox
CLA.

This was very hand wavy with no issues being raised. I did mention that
according to me that meant kompose was owned by CNCF, and that also meant
that any incubator project donated the same way were also CNCF projects.

-seb

On Fri, Mar 29, 2019 at 12:19 AM Janet Kuo <notifications@github.com> wrote:

[2019-03-29 08:23] nikhita commented on #42
We have rules for donated repos now: https://github.com/kubernetes/community/blob/master/github-management/kubernetes-repositories.md#rules-for-donated-repositories

The [github-management team](https://github.com/kubernetes/community/tree/master/github-management#github-administration-team) is responsible for making sure that the rules are followed and also for taking care of the actual migration

[2019-03-29 16:11] oicheryl commented on #92
I'd also like to be in the loop as I run the CNCF End User Community (https://www.cncf.io/people/end-user-community/) and the groups under it.

[2019-04-06 03:09] daminisatya commented on #92
Hello All!

@pwittrock Helped me get started and I'm actively working on defining the structure for UGs governance ( done with defining creation and deletion of UGs) Will keep you posted on this thread! ✨

[2019-04-10 18:32] castrojo opened #96 "Slack user moderation needs a new home (New SIG?)"
Slack user moderation feels out of scope for ContribEx, we've written up a bunch of policies and expanded the moderation team, but a new SIG is needed to drive this forward.

We'd like to ask steering to help us with defining scope for this. Most people in contribex are too busy to drive this and might include asking CNCF to help us find staffing for this, either through a member company providing

[2019-04-10 19:46] philips commented on #42
I have gotten in touch with a few people on this but won't have time to start until next week.

[2019-04-10 19:46] philips commented on #46
I won't have time to start on this until next week.

[2019-04-10 20:03] pwittrock commented on #92
FYI, we have a draft out that will be published in the next day or 2

[2019-04-10 20:09] michelleN commented on #46
@philips same here

[2019-04-10 20:10] michelleN commented on #42
@philips +1 same here. Will get back on this next week.

[2019-04-10 20:34] timothysc commented on #65
Proposal - https://docs.google.com/document/d/16IAOspFVbGWd3RZg6h7uE3WXlRuvWDNnjBPxwITAda4/edit#

[2019-04-10 20:40] spiffxp opened #97 "We've lost our definition of quroum"
https://github.com/kubernetes/steering/search?q=quorum&unscoped_q=quorum

https://github.com/kubernetes/steering/blob/658f53a67d9f15db9b50388ec362c683f9bdee4d/CONTRIBUTING.md

https://github.com/kubernetes/steering/blob/34cd4481557f1e11df190d1cb46965b41a087e95/README.md

https://github.com/kubernetes/steering/pull/18 dropped the section on our meetings, which contained the definition

entire steer

[2019-04-10 20:50] timothysc commented on #96
This might be a great example for what a CNCF proposal template looks like.

[2019-04-10 20:58] timothysc commented on #41
re: Blog - Katlyn will help define policy and sig-docs will own as a sub-project.

[2019-04-10 20:59] timothysc commented on #41
TODO: Follow up on this issue if we should close it out and open new ones.

[2019-04-10 20:59] spiffxp commented on #41
ref: https://github.com/kubernetes/community/issues/3524#issuecomment-480445006 for the blog

[2019-04-10 21:00] tpepper commented on #41
does feel like a natural thing to try to pull under SIG Release's nascent Release Engineering subproject.

[2019-04-10 21:00] timothysc commented on #38
Still working through charter agreements, and hopefully have steering review.

[2019-04-10 21:04] spiffxp commented on #41
@tpepper that was absolutely my intent in pushing for that (although godep is fuzzy and seems more like code org IMO)

[2019-04-10 21:09] dims commented on #97
+1 to 1/2 for attendance and 2/3 for binding vote in principle ... how do we do this with odd number of folks?

[2019-04-10 21:15] andrewsykim commented on #65
Following up from the steering committee meeting, I think a reasonable deadline for providers to opt into this would be mid July which is inline with when CFP closes for KubeCON NA. That would give us time to figure out if there are any changes required for sessions at KubeCON. Thoughts? cc @dims @spiffxp

[2019-04-10 21:32] castrojo commented on #96
Add more things here for context about the things we need to ask CNCF.

- A new position for a community manager to run a new SIG User Experience
  - Similar to Zach @ SIG Docs, we're not asking for moderators, we're asking for people who can build community programs around our user-facing properties
- Assumption of more administrative duties.
   - As a recent example, contribex had to go through

[2019-04-10 21:34] castrojo commented on #96
Also as a note, this SIG could possible take on things that are being formed right now, such as user groups and other things around the project, but for now I wanted to be cleanly scoped to just slack.

[2019-04-10 21:39] spiffxp commented on #97
With 12 members:
- quorum to meet at 6/12
- quorum to vote at 9/12

I haven't yet found a thing showing how we operated with 13, but I would suggest we round up at an odd number.  I am totally fine punting to our four-weeks-with-3/4-vote decision for the rest of this comment if it holds up documenting what we do today with 12.

With 11 members:
- quorum to meet at 6/11
- quorum to vote at 9/11

Wi

[2019-04-10 21:57] coderanger commented on #96
Re-posting a cleaned up version of my message to the steering list from a few weeks ago:

Slack has been an enormous asset to our community, a point I think all of both the Slack Admins and SIG-ContribEx agree on. Having a space shared by both end-users and contributors helps to keep our community approachable and is an important part of the novice-to-user-to-contributor-to-leader pipeline that I

[2019-04-11 17:02] tpepper commented on #41
Choice of common tool and processes around healthy deps management fall in a broad build/test/release/support flow so will have multiple stakeholder SIGs and WGs imho.

[2019-04-11 20:09] tpepper opened #98 "leadership trainings"
In other large projects with technical oversight or steering committees, I've observed that the associated foundation has funded various types of baseline and ongoing training when major boards are established or as membership turns over.  Education around topics such as unconscious bias, decision making, conflict resolution, code of conduct violation/response trainings exist in industry to insure

[2019-04-11 20:10] michelleN commented on #98
I agree 100% and would love to see this happen. would love to get thoughts from the rest of @kubernetes/steering-committee

[2019-04-15 14:23] daminisatya commented on #92
Some last-minute hiccup and will be opening a PR by Tuesday morning (PST) 😄

[2019-04-15 15:01] timothysc opened #99 "Basic governance of sub-projects."
There have been a number of questions regarding governance of subprojects that we should look to formalize, which should include:

- What rules apply to sub-projects if the core depends on them?  e.g. CNI, CRI, CSI, AddOns
- What processes and policies should be followed for the administration of those repos. (e.g. voting plus timeout?)
- Better clarification around any guarantees WRT sub-projects

[2019-04-15 15:07] dims commented on #99
Please see https://groups.google.com/forum/#!msg/kubernetes-sig-scheduling/qvdcZ9kFqZE/q1f6zlQRCwAJ

[2019-04-15 15:53] dims commented on #99
fyi, @k82cn has changed the repo name back for now until there is a community consensus.

[2019-04-15 17:13] smarterclayton commented on #99
As a general, rule we've tried to

1. Split kube from a monolithic entity into an ecosystem of sigs
2. Retain tight rules on the core kube to keep it from growing unbounded
3. Encourage experimentation in sigs

I think that has been successful - the problems Tim lists are exactly the sort of "next step problems"

4. Things sigs create become "part of Kubernetes" but are not "part of core Kubernete

[2019-04-15 17:30] philips commented on #42
What @nikhita has provided seems sufficient to me. WDYT Michelle?

[2019-04-15 18:13] timothysc commented on #99
I think we should call out this distinction, and we tried to in the beginning (e.g. kubernetes-incubator)  They are clearly not core and thus not kubernetes, but in it's orbit.  We discussed this point ad-nauseam during the creation of the model.

I'm ok with projects of varying quality coming and going and having this be a sig-responsibility to curate, but I also think we should explicitly set th

[2019-04-15 19:29] philips commented on #42
What @nikhita has provided seems sufficient to me. WDYT Michelle?

[2019-04-15 19:30] philips commented on #42
/assign @michelleN

[2019-04-17 23:34] k82cn commented on #99
Is it possible to also include few items that out of scope for the charter? I'm not sure whether you remembered "kube-arbitrator", most of its items are about scheduling but `QueueJob` maybe sig-apps. IMO, it should be fine to have such kind of overlap if related sigs's ok.

[2019-04-19 16:26] d-nishi commented on #92
@daminisatya -- can you add me to this thread please?

[2019-04-19 18:47] daminisatya commented on #92
@d-nishi You can check the PR, I referenced here!

[2019-04-22 23:36] philips commented on #46
I put an initial draft together here: https://docs.google.com/document/d/1EdBcK0SvzaJyWcY9g73haaN3cQD9xxwuJPaNuNcC2w8/edit#heading=h.bfoo7hg777e1

[2019-04-23 23:24] spiffxp commented on #97
Opened PR https://github.com/kubernetes/steering/pull/101

[2019-04-23 23:24] spiffxp commented on #97
/priority important-soon

[2019-04-24 17:36] dims commented on #65
sounds good @andrewsykim

[2019-04-24 20:41] #97 closed

[2019-04-24 20:42] timothysc commented on #98
We're going to close this issue and punt to contribex

[2019-04-24 20:48] dims commented on #98
I'd highly recommend  https://www.zingtrain.com/leadership-development  (i've attended one with OpenStack leaders and it was great!)

[2019-04-24 20:56] timothysc commented on #38
There is a PR that should come through in a day or two

[2019-04-24 21:00] timothysc commented on #41
https://docs.google.com/spreadsheets/d/1Pmlj5nN_QJ3rRlc-HKOLfRdYY5qCWPMjnNPAdZZ22tg/edit#gid=0

[2019-04-24 21:00] #41 closed

[2019-04-24 21:11] timothysc commented on #46
@bgrant0607 @dims have singed up to review on 4/24

[2019-04-24 21:12] timothysc commented on #40
@spiffxp @parispittman - are there any other things we need todo here?

[2019-04-24 21:14] timothysc commented on #65
Relating to a conversation about subproject ownership from this discussion - https://github.com/kubernetes/community/issues/1673#issuecomment-484746226

[2019-04-24 21:29] philips opened #102 "Who gets to file CNCF Service Desk tickets?"
I think we need to have a central list of people in the community repo with Steering as approvers for who can file a CNCF Service Desk ticket to request resources on the projects behalf.

Currenly people are being added in an ad-hoc fashion without an authoritative published list IMHO. This isn't a problem, yet, but I don't think it is fair to the CNCF staff to arbitrarily infer who should and sho

[2019-04-25 12:56] castrojo commented on #102
We could do a new file entirely, or we could do a combo of existing OWNERs files, perhaps k/k+k/community+steering?

/assign

[2019-04-25 13:06] dims commented on #102
let's do a new file with the list above and tell the CNCF folks that we will keep it up-to-date for them to consult.

[2019-04-25 18:17] idvoretskyi commented on #102
/cc

[2019-04-25 18:23] philips commented on #102
a new file is fine. I am apathetic on which repo it lands in.

[2019-04-25 18:25] castrojo commented on #102
https://github.com/kubernetes/community/pull/3648

[2019-04-26 17:20] dims commented on #46
@philips left a few questions/notes in the doc. thanks!

[2019-04-29 20:44] philips commented on #46
@kubernetes/steering-committee I plan to just start implementing this after our next meeting May 15th if there are no objections.

[2019-05-16 17:11] michelleN commented on #98
At the last steering meeting, everyone seemed to be on board with going ahead and taking an unconscious/gender bias training. I've been asked if we have a vendor in mind? The LF also has an [inclusive speaker training](https://training.linuxfoundation.org/training/inclusive-speaker-orientation/) course that covers these kinds of thing. Should we(steering) take that?

Does anyone have thoughts or r

[2019-05-16 17:20] michelleN opened #104 "document unconscious bias training requirement"
At the last steering meeting, we discussed that steering members would take an unconscious bias training course. I'd like for us to make this a requirement for steering members by documenting it in the steering repo. Perhaps we should create an on-boarding document that contains this kind of info?

[2019-05-16 18:34] michelleN commented on #96
I've been working with Paris/Jorge on a proposal we can send to Steering for approval. Once it is approved, we can bubble it up to CNCF. I sent a draft to Paris and Jorge for review and am waiting on feedback before I send it off to the steering list. Cheers.

[2019-05-16 18:41] michelleN opened #105 "Document process for proposals to Steering"
It's unclear right now what the best way to proposal something to Steering is. Let's document this process / create a template for folks to follow. Perhaps something like this:
[code]

[2019-05-16 18:48] timothysc commented on #105
FWIW I think the k8s/org group did an excellent job WRT issue templates.
https://github.com/kubernetes/org/issues/new/choose

[2019-05-16 19:29] derekwaynecarr commented on #105
i like the issue template as a means of asking a question to steering.  i
like a more formal write-up template as a means of presenting a solution.

On Thu, May 16, 2019 at 2:49 PM Timothy St. Clair <notifications@github.com>
wrote:

[2019-05-16 19:53] derekwaynecarr commented on #104
+1 - i would be happy to help take this issue.

[2019-05-18 00:02] philips commented on #46
thanks @dims I had some followup on two of your comments.

I will put up a PR for this and then wait until May 28th or something for this to lazy consensus after KubeCon.

[2019-05-20 00:49] dims commented on #46
Sounds good @philips

[2019-05-23 18:06] michelleN commented on #104
Thanks!

[2019-05-23 23:32] philips commented on #98
the LF class looks like a reasonable start from the web page brief @michelleN

[2019-05-24 00:22] philips commented on #46
PR is up https://github.com/kubernetes/steering/pull/106

[2019-06-04 17:34] spiffxp opened #107 "Does steering require admin privileges to kubernetes/kubernetes and kubernetes/community repos"
https://github.com/orgs/kubernetes/teams/steering-committee/repositories

The current teams that have Admin access to kubernetes/kubernetes are:
- https://github.com/orgs/kubernetes/teams/release-managers - needed to create branches and for manual pushes for release branches
- https://github.com/orgs/kubernetes/teams/kubernetes-feature-branch-admins - same reasons, but for feature branches
- https

[2019-06-04 17:34] spiffxp commented on #107
/committee steering

[2019-06-05 20:16] #40 closed

[2019-06-05 20:18] michelleN commented on #92
documentation PR merged. Thanks @daminisatya

[2019-06-05 20:18] #92 closed

[2019-06-05 20:20] michelleN commented on #65
buy-in achieved. executing now. let's check back in July

[2019-06-05 20:29] michelleN commented on #46
@kubernetes/steering-committee to vote

[2019-06-05 20:30] spiffxp commented on #38
Charter PR https://github.com/kubernetes/community/pull/3663

[2019-06-05 20:31] michelleN commented on #38
@kubernetes/steering-committee to vote
Need to add section on election/appointment process.

[2019-06-05 20:35] spiffxp commented on #38
Agreed we don't need elections necessarily spelled out in charter, but need to spell out what election process for cocc is.  Michelle laid out a good start in https://github.com/kubernetes/community/issues/3353

[2019-06-05 20:39] michelleN commented on #98
Steering members, please take the course and report back here within the next month.

[2019-06-05 20:47] dims opened #108 "We need a calendar for prompting us for different processes"
We need a date based reminder for scheduling nominations, elections etc.

[2019-06-05 21:01] dims opened #109 "Process for Travel support for Kubernetes Contributors"
See thread:
https://groups.google.com/a/kubernetes.io/d/msg/steering/12g6Ra1fDEs/9v07uRVDBQAJ

[2019-06-05 22:05] parispittman opened #110 "Contributor Summit Budget Transparency"
following up from the steering committee meeting today re: general funding process,

it would be good to have transparency around the costs of the contributor summits. we have asked for things in the past to hear that they are too high for the budget. as we plan future summits and as they get larger, we'd like to know what we our options are.

past summit information would be useful here, too.

[2019-06-06 11:22] dims commented on #107
+1 from me

[2019-06-07 10:07] dims commented on #109
So let's request sig-contribex to come up with a plan:
https://github.com/kubernetes/community/issues/3783

Already requested them on slack:
https://kubernetes.slack.com/archives/C1TU9EB9S/p1559853299034200

[2019-06-10 18:05] spiffxp commented on #107
Done
![Screen Shot 2019-06-10 at 11 04 59 AM](https://user-images.githubusercontent.com/49258/59216041-a0fbd480-8b6f-11e9-96f8-5b80e0a1a8d5.png)

[2019-06-10 18:06] spiffxp commented on #107
/close
I asked for lazy consensus here: [steering@ thread](https://groups.google.com/a/kubernetes.io/d/msg/steering/lKroTqDxCq8/gTMiSCHTAwAJ)

No objections and deadline passed, so this has now taken effect

[2019-06-10 18:06] #107 closed

[2019-06-11 21:50] philips commented on #46
I think this is done: https://github.com/kubernetes/funding/issues/new/choose

Closing.

[2019-06-11 21:50] #46 closed

[2019-06-18 17:20] andrewsykim commented on #65
We should start coordinating with CNCF on sessions for cloud providers (as subprojects or user groups). More details in the proposal https://docs.google.com/document/d/16IAOspFVbGWd3RZg6h7uE3WXlRuvWDNnjBPxwITAda4/edit#. @idvoretskyi  is this something you can help with?

[2019-06-18 17:58] dankohn commented on #65
CNCF hasn't sent out email yet asking for maintainer track sessions for San
Diego. For that event and going forward, we're OK offering a session to
each cloud provider subproject of SIG Cloud Provider.

We want to have a canonical list who to invite. Could you please confirm
that the current list will be
https://github.com/kubernetes/community/blob/master/sig-cloud-provider/README.md#subprojects
b

[2019-06-18 18:07] justaugustus commented on #65
@dankohn --
- AWS (@justinsb @d-nishi @kris-nova)
- Azure (@justaugustus @craiglpeters)
- GCP (@abgworrall)
- IBMCloud (Khalid Ahmed, Richard Theis, @spzala)
- VMware (@frapposelli @cantbewong)
- Openstack (@hogepodge)

[2019-06-18 18:22] dankohn commented on #65
Thanks. Would you mind adding to
https://github.com/kubernetes/community/blob/master/sig-cloud-provider/README.md
<https://github.com/kubernetes/community/blob/master/sig-cloud-provider/README.md#subprojects>
or
similar?

Also, what about Alibaba?
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

[2019-06-18 19:01] andrewsykim commented on #65
Alibaba should be on the list as well if they can attend. cc @aoxn

[2019-06-18 19:23] justaugustus commented on #65
Yes, my apologies! I pulled that list from the set of cloud providers involved in the consolidation proposal.
Alibaba should definitely be on the list.

[2019-06-18 23:04] andrewsykim commented on #65
@dankohn we set a deadline for July 12th to update all the existing SIGs to fold as subprojects (see https://github.com/kubernetes/steering/issues/65#issuecomment-481868115). Would it be too late to have the subproject list updated by July 12th or would you need it sooner?

[2019-06-18 23:07] dankohn commented on #65
That sounds fine. Thank you.
--
Dan Kohn <dan@linuxfoundation.org>
Executive Director, Cloud Native Computing Foundation https://www.cncf.io
+1-415-233-1000 https://www.dankohn.com

On Tue, Jun 18, 2019 at 7:04 PM Andrew Sy Kim <notifications@github.com>
wrote:

[2019-07-05 17:28] dims commented on #98
DONE! it was really useful. i did an exercise on Project Implicit [1] as well that the training talks about. I'd encourage you to try one as well!

[1] https://implicit.harvard.edu/implicit/takeatest.html

[2019-07-09 17:01] dims commented on #109
@parispittman has a write up in https://github.com/kubernetes/community/issues/3783

[2019-07-10 18:53] spiffxp commented on #65
Moving to our July milestone as we're still keeping tabs on this

[2019-07-10 23:38] spiffxp commented on #42
I feel like this is sufficiently addressed by the docs above.  Donating a repo to the project means:
- that repo meets requirements such as using our automation and licensing
- that repo will be owned by a SIG either as a new subproject or part of an existing subproject, thus putting it under our usual governance
- our governance has an escalation path from subproject to sig to steering to handle

[2019-07-10 23:43] spiffxp commented on #102
/close
I believe this has been addressed by the above

[2019-07-10 23:43] #102 closed

[2019-07-12 07:38] raelga commented on #109
Thanks for this initiative. :) :blue_heart:

[2019-07-17 19:56] michelleN opened #113 "publish updated kubernetes steering meeting schedule and cadence"
should also include process for skipping or canceling meetings

add this where ever it makes sense in this repo

[2019-07-19 01:36] philips commented on #98
I finished the LF unconscious bias course just now as well.

Feedback: The course material was OK but I feel as if it could have used better evidence in places and near the end started to repeat itself a bit through the "evidence based approach" slides.

Overall, I think we might should evaluate other resources for future Kubernetes steering members or contributors.

[2019-07-19 21:37] dankohn commented on #65
@justaugustus @andrewsykim CNCF is ready to send out invitations for maintainer track sessions at [KubeCon](https://events.linuxfoundation.org/events/kubecon-cloudnativecon-north-america-2019/) San Diego.

Could we please get the canonical list of the Cloud Provider subprojects that should get slots? Going forward, we'd like it as a table on https://github.com/kubernetes/community/blob/master/sig-

[2019-07-19 22:14] andrewsykim commented on #65
@dankohn that looks great! The official list under sig-cloud-provider should be updated as soon as https://github.com/kubernetes/community/pull/3895 merges. Thanks!

[2019-07-29 16:22] castrojo commented on #109
Draft: https://github.com/kubernetes/steering/pull/114

[2019-07-29 20:27] dims commented on #65
https://github.com/kubernetes/community/pull/3895 has merged. We can close this out now

/close

[2019-07-29 20:27] #65 closed

[2019-08-06 01:20] philips opened #115 "create release-managers@kubernetes.io"
requested by @justaugustus of SIG Release

[2019-08-06 01:20] philips commented on #115
/assign

[2019-08-06 01:21] philips commented on #115
xref https://github.com/kubernetes/sig-release/issues/732

[2019-08-06 02:01] justaugustus commented on #115
Hey Brandon, @jbeda already created this for me. Thanks! :)
/close

[2019-08-06 02:01] #115 closed

[2019-08-07 20:08] michelleN commented on #42
@spiffxp will call for a vote on the mailing list to close this issue

[2019-08-07 20:12] michelleN commented on #81
members of standing and exception process is outstanding but this issue is done.

[2019-08-07 20:12] #81 closed

[2019-08-07 20:13] michelleN opened #116 "steering to select election officers"
lets get this ball rolling https://github.com/kubernetes/community/issues/3915

[2019-08-07 20:20] michelleN commented on #109
next steps: @kubernetes/steering-committee - please review

[2019-08-07 20:24] bgrant0607 commented on #48
Timeline: https://github.com/kubernetes/community/issues/3915

Process: https://github.com/kubernetes/community/tree/master/events/elections

Voting eligibility:
https://github.com/kubernetes/steering/blob/master/elections.md#eligibility-for-voting

The bar is currently 50 contributions, which is a little over 800 voters, which is only a little more than last year:
https://k8s.devstats.cncf.io/d/1

[2019-08-07 20:25] bgrant0607 commented on #81
Reopened #48

[2019-08-07 20:27] michelleN commented on #109
aim to merge this by August 21st.

[2019-08-07 20:29] michelleN commented on #109
@kubernetes/steering-committee -- let's talk about costs and where funding comes from. Could come from KCS fund. Depends on how things work out for KCS funding.

[2019-08-07 20:46] michelleN commented on #96
We need to post a description of the community manager role, someone to manage the user community

[2019-08-07 20:47] michelleN commented on #98
michelle to remind steering to do this cc/ @kubernetes/steering-committee

[2019-08-07 20:49] michelleN opened #117 "code of conduct committee election"
add description

[2019-08-07 20:54] spiffxp commented on #48
/assign
/milestone Aug 2019

[2019-08-07 21:46] michelleN commented on #116
conducting vote within steering-private now and will announce asap

[2019-08-07 22:52] spiffxp commented on #42
https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/8Sh8b1-cKFI

[2019-08-09 18:29] spiffxp commented on #42
/close
I have not gotten a super-majority but am going to go ahead and close given no -1's.

If anyone believes this was closed in error please /reopen and let me know.

[2019-08-09 18:29] #42 closed

[2019-08-12 15:44] tpepper commented on #86
/assign @tpepper @justaugustus @calebamiles

[2019-08-13 17:20] bgrant0607 commented on #116
Announced

[2019-08-13 17:20] #116 closed

[2019-08-14 15:15] castrojo opened #120 "Create election@kubernetes.io"
For the last two elections we've used the generic community@ alias for this.

We need to split this from community@ so that election information goes to the election officers only, and general community traffic continues to go to the community managers.

This will also decouple community managers from election officials, in the past we've been the same group.

[2019-08-15 18:41] philips commented on #42
sounds good, thanks.

[2019-08-15 18:48] michelleN commented on #96
@castrojo would it make sense to track this work on the kubernetes/community repo and close it out here? cc/ @parispittman

[2019-08-15 18:49] michelleN commented on #120
I am supportive. What is the process for creating a new mailing list? Do you have that power? Do we need Steering to agree/vote here?

[2019-08-15 18:50] michelleN commented on #117
Nominations are in and steering is currently voting.

[2019-08-15 20:14] dims commented on #120
One of of the sc1/sc2/sc3 folks will have to create it.

+1 from me.

-- dims

On Thu, Aug 15, 2019 at 11:49 AM Michelle Noorali <notifications@github.com>
wrote:

--
Davanum Srinivas :: https://twitter.com/dims

[2019-08-15 22:16] spiffxp commented on #48
OK, I can live with 50+ devstats contributions, and a generous exception process.

Drilling through other options for member of standing criteria (using data from 2019-07-31 which is where we capped it last year):
- any org membership OR 50+ devstats: 1231
- any org membership: 1022
- kubernetes org membership: 934
- 50+ devstats: 768
- any org membership AND 50+ devstats: 559

For historical refe

[2019-08-16 13:54] bgrant0607 commented on #48
I agree that org membership isn't a good signal.

[2019-08-19 22:20] mrbobbytables commented on #120
Assigning to SC1/2/3 -
/assign @philips @jbeda @spiffxp

[2019-08-19 22:48] philips commented on #120
Why does this need to be part of kubernetes.io instead of a Google Group?

[2019-08-19 22:51] philips opened #121 "document and maintain declartive tool for creating new kubernetes.io aliases"
There have been a number of requests for creating new @kubernetes.io aliases to steering because only steering has administrative control of the domain.

However, we need to document when to use kubernetes.io aliases over `kubernetes-*@googlegroups.com` and create a tool to manage the groups over time similar to what the k8s-infra team is doing.

Some of the reasons for `@kubernetes.io` aliases I

[2019-08-19 22:52] philips commented on #120
xref https://github.com/kubernetes/steering/issues/121

[2019-08-19 23:50] jbeda commented on #120
I'm supportive as this is the "from" address that ballots will come from according to @castrojo.

[2019-08-19 23:51] castrojo commented on #120
The address we use is what the election ballots are get sent as, so probably easier from whitelist purposes for the voters.

[2019-08-19 23:59] dims commented on #121
Ack.

/assign @dims

[2019-08-20 05:18] philips commented on #120
@jbeda @castrojo Can you write a sentence or too on what precedent this would set? Essentially how do we defend this beyond "aesthetically pleasing email alias"

[2019-08-20 23:55] mrbobbytables commented on #120
This address has a need to represent or “speak for” the project in an official capacity to people who are not necessarily members of the Kubernetes organization.

This function was previously served by the community@kubernetes.io address; however there is now a need for better separation of duties. The community@kubernetes.io group has grown and has members on it that are not current election offi

[2019-08-21 16:27] jbeda commented on #120
@philips -- my rule is if there is going to be "official" communication or any risk that folks will question if something is officially from the project then we can do a kubernetes.io address.  Election stuff is touchy enough it is probably good to not have this be coming from a random email address.

[2019-08-21 19:09] michelleN commented on #113
resolved via #118

[2019-08-21 19:11] #113 closed

[2019-08-21 19:12] michelleN commented on #117
voted and announced on public steering mailing list. handed it off to @kubernetes/code-of-conduct-committee for transition and on-boarding.

[2019-08-21 19:12] #117 closed

[2019-08-21 20:17] jberkus opened #123 "Bosun should resolve all comments on the agenda at the end of public meetings."
The way it is now:

Often the note-taker for a public SC meeting is not a member of the SC, and as such all of their notes are suggestions (I've been the note-taker several times).  Because nobody is assigned to integrated these "suggestions", they often don't get saved to the agenda until a week or more after the SC meeting.  This harms the ability of the community at large to see what was decide

[2019-08-21 20:18] bgrant0607 commented on #120
There's a desire to send the election announcement today. Is there a good reason to not more forward with this?

[2019-08-21 21:25] dims commented on #120
Please go ahead @bgrant0607 +1 from me.

[2019-08-21 21:28] philips commented on #120
I will create the alias.

[2019-08-21 21:30] philips commented on #120
election@kubernetes.io created, @castrojo is owner.

[2019-08-21 21:30] #120 closed

[2019-09-03 21:26] philips commented on #121
the blog@ alias had an issue of being configured with only one owner and moderation settings causing the list not to work. It had to be escalated to me to configure and I didn't really know who to give Owner access to because there was no real documentation on how that alias should be managed.

tl;dr we need a declarative approach to this

[2019-09-04 20:24] bgrant0607 commented on #44
The charter was updated to include explicit delegation:
https://github.com/kubernetes/steering/blob/master/charter.md

[2019-09-04 20:24] #44 closed

[2019-09-05 17:11] timothysc opened #127 "Term limits on steering."
Discussed on 20190904, there was a general question if we should outline both consecutive and lifetime term limits.

[2019-09-05 18:26] philips commented on #127
I think we should have a lifetime limit and it should be roughly on the order of 10 years. Why?

Well, I think Kubernetes is a technology that is going to be with us for 30+ years in a big way. This means that there are people who will be full time dedicated to this project as their career for that period of time. During that time the contributor base will likely expand but there will be people wh

[2019-09-05 23:06] countspongebob commented on #57
There is no current public and complete list of exceptions, tracking the request to create such a list here:
https://github.com/cncf/foundation/issues/45

[2019-09-22 21:08] #99 closed

[2019-10-04 14:22] philips opened #128 "README: update with new steering members"
See https://groups.google.com/forum/#!topic/kubernetes-dev/1kZvBDGhSCU

[2019-10-04 14:23] philips opened #129 "README: find new sc1 and sc2 @kubernetes.io owners"
The SC1 and SC2 accounts are meant for one off maintenance of the kubernetes.io GSuite system. @jbeda and @philips currently own 1 and 2 respectively. We need to hand them off to new steering members.

[2019-10-04 14:27] dims commented on #129
@philips - i can take one!

[2019-10-04 16:33] parispittman commented on #129
I can take another

[2019-10-04 17:23] cblecker commented on #128
https://github.com/kubernetes/org/pull/1263

[2019-10-04 17:27] cblecker commented on #128
https://github.com/kubernetes/community/pull/4145

[2019-10-04 17:52] cblecker commented on #128
https://github.com/kubernetes/kubernetes-template-project/pull/30

[2019-10-04 17:57] cblecker commented on #128
https://github.com/kubernetes/funding/pull/4

[2019-10-04 18:28] cblecker commented on #128
https://github.com/kubernetes/steering/pull/130

[2019-10-04 20:21] philips commented on #129
@dims is now sc1.

@dims please put up a PR to update the README.

[2019-10-04 21:30] timothysc commented on #104
Merged, closing.

[2019-10-04 21:30] #104 closed

[2019-10-04 21:31] timothysc commented on #38
Given that they are formed closing this issue and we can address specific concerns on other issues.

[2019-10-04 21:31] #38 closed

[2019-10-04 21:34] timothysc opened #131 "Create Issue Templates"
One of the problems we've had with steering in the past is ill formed issues that outlines how best folks can interface with the committee.

So we should create a well defined template for those issues.

[2019-10-04 21:36] timothysc commented on #98
We have a PR in now that documents the need, and I'll open an issue for us to check off that all members have done it.  Closing this and creating a new one.

[2019-10-04 21:36] #98 closed

[2019-10-04 21:38] timothysc opened #132 "Unconscious Bias Training"
Per update, all members should complete on unconscious bias training course

xref - https://github.com/kubernetes/steering/issues/98
xref - https://github.com/kubernetes/steering/blob/master/charter.md#inclusive-leadership-training

[2019-10-04 21:40] timothysc commented on #48
It looks like this has been updated in the main doc, so closing.

[2019-10-04 21:40] #48 closed

[2019-10-04 21:45] timothysc commented on #45
This issue is so vague and old I really think we need to create a new issue template and refine what the exact details of the ask is.  Closing this issue, and if needed let's create the new issue template and open a new one.

[2019-10-04 21:45] #45 closed

[2019-10-04 22:52] dims commented on #129
Done! https://github.com/kubernetes/steering/pull/133

[2019-10-06 03:41] cblecker commented on #132
I have completed this training.

[2019-10-07 02:03] parispittman opened #134 "SC presence @ KubeCon SD"
We need to coordinate and plan for the following activities:

1 - Contributor Summit. We have a 15 minute Q&A placeholder. It's possible to do whatever we want with this time but that's what we have now.

2 - Steering Committee panel on the main show community track. https://sched.co/UadL Thurs Nov 21 @ 220pm. Need to collect all panelists names and add to sched. update: all current members will b

[2019-10-07 07:25] nikhita commented on #105
/remove-lifecycle rotten

xref https://github.com/kubernetes/steering/issues/131 - for issue templates

[2019-10-07 09:05] nikhita commented on #132
I have completed the training as well.

[2019-10-07 13:31] parispittman commented on #132
I've completed the training.

[2019-10-07 16:37] timothysc opened #135 "OWNERS file(s) curation."
As a community the primary means for routing issues and PRs to the appropriate stakeholders is via the OWNERS files.  Test infra folks have done a good job in adding automation to help enable auto-labeling so those issues and PRs can be triaged, however these files are very poorly maintained atm and SIGs that have not been curating these should be notified.

We have seen this as an issue for a whi

[2019-10-07 17:10] cblecker commented on #128
I think I got everything.

[2019-10-07 17:10] #128 closed

[2019-10-07 18:12] dims commented on #135
example of banging the drums - https://groups.google.com/d/msg/kubernetes-sig-leads/ZbYr0P9wsvE/zuHujtpGBAAJ

[2019-10-08 17:40] timothysc opened #136 "Prune/shuffle projects under the kubernetes/*org"
Over the course of the last year and a half we've created a tiered organizational structure and sigs are responsible for their subprojects.  When inspecting the Kubernetes main org there is a lot of cruft repos that should either be shuffled to SIGs or moved to attic.

[2019-10-09 11:06] nikhita opened #137 "Update steering committee meeting time"
Given that the new steering committee is spread across the west coast, east coast and APAC, we are planning to move the meeting to early-ish pacific time.
Ref: https://groups.google.com/a/kubernetes.io/forum/#!topic/steering/u1N1OfRodfM.

This is a tracking issue to make sure the meeting time is updated at all places - calendar invite, README, sigs.yaml etc.

/assign

[2019-10-09 11:43] nikhita commented on #80
xref https://github.com/kubernetes/steering/issues/132 - unconscious bias training as part of onboarding

[2019-10-14 15:11] nikhita commented on #137
Calendar invites updated and READMEs fixed in #138 and kubernetes/community#4173.

/close

[2019-10-14 15:11] #137 closed

[2019-10-21 13:54] nikhita opened #140 "2019 Steering Committee Election Retro"
The election officers for the 2019 Steering Committee Election created a retro doc - https://docs.google.com/document/d/1La9ZJPdvgLRzVH_RvE3Tmmx7uw_de8x8Ca4HoCkH8R0/edit.

The crossed out points are already addressed (most of them in https://github.com/kubernetes/community/pull/4148). This is a tracking issue to make sure that all other points in the doc don't get lost.

The following points from

[2019-10-21 14:00] mrbobbytables commented on #140
/assign
So I don't lose track + I can work on some of the items (release style timeline etc).

[2019-10-21 18:50] timothysc opened #141 "Craft Policy on Requesting help for key areas"
@dims

[2019-10-21 18:55] timothysc commented on #47
Closing, as most of this is already documented and if there is an exact ask we can reopen.

[2019-10-21 18:55] #47 closed

[2019-10-21 19:04] nikhita commented on #49
Looks like this can be closed? We have https://github.com/kubernetes/steering/blob/master/changes.md now.

[2019-10-21 19:05] nikhita commented on #80
/assign

[2019-10-24 08:38] nikhita commented on #108
If this calendar is only meant for elections, we can use the contribex shared calendar for this since elections are handled by contribex anyway.

[2019-10-24 08:57] nikhita commented on #34
Going to remove help-wanted since the GitHub Admin team is working on this: https://github.com/kubernetes/community/issues/1922.

/remove-help

[2019-10-24 13:13] nikhita opened #145 "CNCF representative in SC public meetings"
Since a considerable number of topics in Steering Committee meetings usually end up with "let's ask CNCF about this", it would be nice to have an official CNCF representative (at least one) in the SC public meetings.

The CNCF rep can decide whether to attend the meeting depending on the agenda.

@dankohn @caniszczyk @idvoretskyi can y'all make this happen and decide who this representative would

[2019-10-24 13:43] idvoretskyi commented on #145
@nikhita Happy to be a CNCF representative.

[2019-10-25 00:45] cblecker commented on #132
/assign @timothysc @derekwaynecarr @spiffxp @dims

Can you all confirm that you've done this, and when you do, unassign yourself? Thank you!

[2019-10-25 01:23] dims commented on #132
/unassign

yep. i've completed.

[2019-10-25 14:11] #105 closed

[2019-10-25 14:11] #131 closed

[2019-10-30 11:27] dims commented on #141
cc @daminisatya

[2019-10-30 11:29] dims commented on #141
prior art:
- https://discuss.kubernetes.io/c/contributors/role-board
- https://github.com/kubernetes/sig-release/blob/master/release-team/README.md

[2019-10-30 13:09] daminisatya commented on #141
+1

[2019-10-31 02:35] cblecker opened #146 "kubernetes-security fork CI"
The kubernetes-security fork currently doesn't have functioning CI. There is a lack of clarity around ownership/priority/resourcing of it.

We should work with the PSC, test-infra team, and wg-k8s-infra to develop a game plan with ownership/staffing to properly maintain private test infrastructure for the security fork.

cc: @kubernetes/product-security-committee

[2019-10-31 02:36] cblecker commented on #146
There are some technical details in this private issue https://github.com/kubernetes-security/kubernetes/issues/37

[2019-10-31 14:58] daminisatya commented on #141
cc @miteshskj

[2019-11-05 23:42] cblecker commented on #110
/remove-lifecycle stale

[2019-11-07 16:41] miteshskj commented on #141
Policy draft - https://docs.google.com/document/d/1djCfmg4dBs62AhoSjiJsL4NgEPsVTGccd9xRQzX6J8o/edit#heading=h.67xvy3ozb0w

cc @dims @daminisatya

[2019-11-13 19:28] nikhita commented on #109
/remove-lifecycle stale

[2019-11-13 19:28] nikhita commented on #96
/remove-lifecycle stale

[2019-11-20 20:16] cblecker commented on #123
/remove-lifecycle stale

[2019-11-28 08:13] justaugustus commented on #86
Closed via https://github.com/kubernetes/steering/pull/90.
/close

[2019-11-28 08:13] #86 closed

[2019-12-04 05:30] nikhita commented on #134
This is now done. Video of the panel: https://youtu.be/0Su1kKlr9q0

/close

[2019-12-04 05:30] #134 closed

[2019-12-04 05:32] nikhita commented on #121
We have this in place today - https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml. Thanks @dims and @cblecker for all the hard work! :rocket:

IMO this can be closed.
@dims or @cblecker - can you confirm?

[2019-12-04 05:53] dims commented on #121
confirmed :)

/close

[2019-12-04 05:53] #121 closed

[2019-12-04 17:44] #129 closed

[2019-12-04 18:40] nikhita commented on #127
/remove-lifecycle stale

On Thu, Dec 5, 2019 at 12:06 AM fejta-bot <notifications@github.com> wrote:

[2019-12-09 11:22] #80 closed

[2019-12-09 21:05] idvoretskyi commented on #145
@nikhita I assume we may close this issue unless there are further questions on this.

[2019-12-11 17:44] cblecker commented on #145
@idvoretskyi Yes, if things are set on your side that either yourself (or someone else if you can't make it) can attend, I think we're good on this.

[2019-12-12 14:23] idvoretskyi commented on #145
@cblecker yes, we are all set. Do you think this needs to be documented in the Steering documentation (eg. - https://github.com/kubernetes/steering/blob/master/README.md)?

[2019-12-13 17:37] parispittman commented on #145
@idvoretskyi yes pls that would be awesome

[2019-12-13 21:10] idvoretskyi commented on #145
/assign

I'll take care of it.

[2019-12-14 14:44] idvoretskyi commented on #145
Done - https://github.com/kubernetes/steering/pull/148

[2019-12-21 01:29] cantbewong opened #149 "Report experience when following currently documented User Group creation process"
This issue has been opened at the request of the steering committee to document the process and experience of creating a new User Group. (see [notes](https://bit.ly/k8s-steering-wd) for December 2, 2019 steering committee public meeting)

This issue has been opened for two purposes:
  1. Inform steering committee of aspects that are currently ambiguous or not well documented.
  2. Make a reference

[2019-12-21 01:34] cantbewong commented on #149
/kind documentation

[2020-01-02 19:46] parispittman opened #150 "Community Meeting Cadence Change (reconciling with sig-governance.md)"
The community meeting is in flight to change from weekly Thursday (exception of holidays, etc) cadence to monthly. I'm personally supportive of the reduction in this meeting (and meetings in general) but we need to discuss/reconcile the sig-governance doc in order to do so. 

Here is Jorge's PR with the changes re: meeting: https://github.com/kubernetes/community/pull/4323

[sig-governance.md](htt

[2020-01-05 19:43] mrbobbytables commented on #135
/remove-lifecycle stale

[2020-01-06 18:32] nikhita commented on #136
/remove-lifecycle stale

[2020-01-09 15:33] #150 closed

[2020-01-11 17:43] timothysc opened #151 "Audit community notes on sub-projects."
### Problem Statement
Not all sub-projects are properly reflected in the community page

### Proposed Solution
Audit and update

[2020-01-17 04:29] parispittman opened #152 "sig-governance meeting contradiction"
[sig-gov roles](https://github.com/kubernetes/community/blob/master/committee-steering/governance/sig-governance.md)

first set of bullets:
Meet regularly, at least for 30 minutes every 3 weeks, except November and December

organizational management section:
SIG meets bi-weekly on zoom with agenda in meeting notes
SHOULD be facilitated by chairs unless delegated to specific Members

### Proposed

[2020-01-17 04:31] parispittman commented on #152
sort of scope creeping myself but a note:
also in first set of bullets

should be expanded to say Kubernetes Community* YouTube playlist (not just any one)

[2020-01-19 14:41] mrbobbytables commented on #140
/remove-lifecycle stale

I'll bump this back up on the todo list.

[2020-01-20 20:16] parispittman opened #153 "proposing a community group "health check" / roll call"
We have many community groups right now and this is a good feedback loop with chairs and steering. This is similar to the Apache PMC style roll call.

### Proposed Solution

process:
- chair fills out questionnaire
- if steering has more questions, they invite chair to meeting (maybe May's Chair and Tech Leads meetings are this?)

**Why this is good:**
- Engaging community group operational leader

[2020-01-22 07:15] nikhita commented on #145
Fixed by https://github.com/kubernetes/steering/pull/148

/close

[2020-01-22 07:15] #145 closed

[2020-01-22 09:54] nikhita commented on #108
/remove-lifecycle stale

We have a steering-shared calendar now. Keeping this open to ensure we end up adding calendar events for different processes.

[2020-01-23 01:56] cblecker commented on #132
/remove-lifecycle stale

[2020-01-23 07:55] parispittman commented on #110
update: cncf now provides the event lead (a contribex /events owners file contributor) the budget. i appreciate the detail, too. thank you!

steering question: should the lead provide steering with budget info as a friendly fyi? before, after, during? at all/trust?

[2020-01-29 03:17] justaugustus commented on #146
This is probably still active.
/remove-lifecycle stale
/lifecycle frozen
/priority critical-urgent

[2020-02-03 19:41] timothysc commented on #153
/assign @timothysc  @derekwaynecarr @parispittman

[2020-02-03 19:45] timothysc commented on #151
Closing in favor of #153

[2020-02-03 19:45] #151 closed

[2020-02-03 19:45] cblecker commented on #149
/assign

[2020-02-03 19:55] parispittman commented on #152
per steering meeting - PR in a change to have both bullets say once every three weeks

[2020-02-03 19:57] parispittman commented on #141
https://lists.cncf.io/g/cncf-toc/message/4142 - similar type of process going on at cncf toc level

[2020-02-03 19:57] cblecker commented on #141
/assign @dims

[2020-02-03 20:02] cblecker commented on #136
cc: @kubernetes/owners

[2020-02-03 20:02] cblecker commented on #152
+1

[2020-02-05 09:03] parispittman commented on #153
questions that might be worth exploring:

working groups:
- [ ] how is the group doing on its mission?
- [ ] roadmap/timeframe until completion?
- [ ] learnings so far?
- [ ] is the working group active? healthy? contributors from multiple companies and/or end user companies?
- [ ] everything in your readme accurate? posting meetings on youtube?

sigs:
- [ ] what's it like being a chair for this g

[2020-02-08 21:37] cblecker opened #154 "Steering Committee AMA - KubeCon EU 2020"
### Problem Statement
Based on feedback from our panel in San Diego, we want to reprise our Steering Committee panel in Amsterdam.

### Attending
- @cblecker
- @parispittman
- @nikhita
- @dims
- @spiffxp

### Proposed Agenda
- Introductions
- How is governance handled in the Kubernetes project
- What does Steering do specifically?
- Open the floor for questions

### What needs to be done
- Couple

[2020-02-08 23:19] cblecker commented on #110
I'm happy to delegate oversight of the budget to ContribEx and the event lead. If there are concerns (either raised by CNCF, the event lead, or by Steering) then I believe the lead and CNCF should provide that budget transparency to steering on request.

[2020-02-11 19:40] raelga commented on #109
/remove-lifecycle stale

[2020-02-11 20:23] cblecker commented on #96
/remove-lifecycle stale

[2020-03-02 19:29] parispittman commented on #34
4 repos left; next few months

[2020-03-02 19:30] parispittman commented on #49
/close

[2020-03-02 19:30] #49 closed

[2020-03-02 19:34] parispittman commented on #53
per steering meeting today, we believe sig-docs has the necessary enforcement

happy to take this up in steering at a later time

/close

[2020-03-02 19:34] #53 closed

[2020-03-02 19:37] parispittman commented on #96
take this to a contribex meeting and get an update

[2020-03-02 19:39] timothysc commented on #153
WRT working groups, they should be reporting to their SIGs and SIGs should readout to steering, the onus should be on them.

WRT sig format, I think we should write a policy doc.  I like most of the suggestions listed above.

[2020-03-02 19:43] parispittman commented on #110
per steering committee, we are ok with the events lead taking this and steering being in the loop and taking escalations if necessary. we should probably write this down somewhere.

/close

[2020-03-02 19:43] #110 closed

[2020-03-02 19:45] parispittman commented on #123
per steering meeting, bosuns will now clear comments. we are also creating a how to bosun doc which this will be on including other info.

/close

[2020-03-02 19:45] #123 closed

[2020-03-02 19:50] parispittman commented on #127
someone (maybe aaron) in steering to take lead on PR'ing in the policy so we can see what this would look like. no major dissent on the call today to what philips laid out above. more soon.

[2020-03-02 19:54] timothysc commented on #132
/unassign

I ... "believe" I completed the CNCF one, but VMware has an extensive series on this topic that I have to complete on an annual basis.

[2020-03-06 22:00] parispittman commented on #153
note for later:
governance.md calls out chairs to communicate and coordinate with steering, just ambiguous:

[2020-03-07 01:48] cblecker commented on #153
As we are trying to also assess the activity of SIGs themselves, and WGs can have multiple sponsoring SIGs, I think the process as a whole would be sped up if steering assessed all the governed groups (SIGs, WGs, UGs, Committees, etc) directly. You're not wrong that it's the SIGs responsibility, but I just think it'll take longer for us to get the information we're looking for in our governance ov

[2020-03-13 01:36] #152 closed

[2020-03-18 18:10] nikhita commented on #94
/unassign @michelleN

[2020-03-18 18:11] nikhita commented on #96
/unassign @philips @michelleN

[2020-03-19 17:24] spiffxp commented on #132
/unassign

finally figured out where to find my training certificate, yes I've completed this training

[2020-03-26 17:59] spiffxp commented on #136
/milestone v1.19

[2020-04-05 23:40] cblecker commented on #34
Still four repos, but we have active communication with all sigs and have movement.

[2020-04-05 23:43] cblecker commented on #135
/remove-lifecycle stale

[2020-04-05 23:46] cblecker commented on #132
This was documented in https://github.com/kubernetes/steering/pull/124

Just need to confirm that @derekwaynecarr has completed this, and we can close this out.

[2020-04-05 23:48] cblecker commented on #154
KubeCon EU has been rescheduled for August. Will confirm new set of attendees prior to this.

/assign
/lifecycle frozen

[2020-04-06 01:02] cblecker opened #156 "DigitalOcean account for E2E testing"
### Problem Statement
@xmudrii on behalf of the github.com/kubernetes-sigs/cluster-api-provider-digitalocean maintainers has requested a DigitalOcean account for assistance with e2e testing:
https://groups.google.com/a/kubernetes.io/d/msg/steering/2O7e8z6m-VY/q1mppiM-BAAJ

### Proposed Solution
Before we request CNCF funding for this, I'd like to ask the CNCF to connect with DigitalOcean (a CNCF m

[2020-04-20 19:20] spiffxp commented on #153
/unassign @timothysc
/assign @nikhita @cblecker @lachie83
Discussed during steering today, will work to have some open questions resolved by next steering committee meeting.  Possible breakout session to discuss in the interim.

[2020-04-20 19:35] nikhita commented on #132
/assign @lachie83

@lachie83 if you have already done this training, feel free to unassign yourself :)

[2020-04-20 21:15] cblecker commented on #132
link if either of you need it: https://training.linuxfoundation.org/training/inclusive-speaker-orientation/

[2020-04-21 05:59] parispittman commented on #153
breakout session scheduled for 4/27

[2020-04-27 17:37] lachie83 commented on #132
/unassign

I've completed this training.

[2020-04-27 20:22] cblecker opened #159 "Community group liasons"
There are a number of cases where a community group (SIG, WG, UG, Committee, etc) may have questions about how to engage with steering, or a process such as [a health check](https://github.com/kubernetes/steering/issues/153) requires someone from steering to review governance information from a SIG.

It may be useful to designate a steering liaison for each community group so they have a designate

[2020-04-28 22:25] parispittman opened #160 "defining and scoping the term member"
### Problem Statement
The term member is conflated in our various documents, ill-defined, or not defined at all for certain use cases.

### Proposed Solution
- [ ] have a clear definition and application of when and where we use the term member
  - proposing a clear linkable definition of:
  - SIG membership (governance) vs GitHub org membership (community-membership.md) TBD vs community membershi

[2020-04-29 00:20] dims commented on #160
I'd say a "member" is someone explicitly added in an "official" roster of some kind (yaml files? github org? github groups? owners_aliases files?)
- So "community member" would be someone tracked by being explicitly added to our github org
- A "sig member" would be someone added who was added to an owners alias or github group (do we have anything else?)

This would rule out having "i joined a mai

[2020-05-03 20:44] dims commented on #141
/close

we are working on a bunch of things including a reporting process for sigs and wg. will pick this up later once we figure out if there are still gaps

[2020-05-03 20:44] #141 closed

[2020-05-04 10:18] nikhita commented on #160
I have added this issue to today's steering committee meeting [agenda](http://bit.ly/k8s-steering-wd) (4 May 2020).

Dropping some thoughts here to remain async :)

Maybe we call this out as "GitHub membership" explicitly and rename `community-membership.md` to `github-membership.md`?

@cblecker and others have mentioned about this in previous contribex calls -- being a member of the GitHub org =

[2020-05-04 12:17] nikhita commented on #127
@spiffxp friendly ping on this :wave:

If you don't have the bandwidth to take this on, I'm happy to work on it too. :)

[2020-05-04 12:19] nikhita commented on #108
Going to take a look at it this week and will follow up with contribex.

[2020-05-04 12:20] nikhita commented on #146
Changing priority to `important-longterm`... please bump the priority again if needed!

/remote-priority critical-urgent
/priority important-longterm

[2020-05-04 12:24] nikhita commented on #136
Discussed this in the [April 23](https://docs.google.com/document/d/1IiVrr1hcFWmbboExk971FsMUGfr2Wp68mdMribCuzLs/edit) GitHub Management subproject meeting, there are currently no blockers to this.

The GH management team is going to take a look at this once incubator is wrapped up (https://github.com/kubernetes/community/issues/1922)

[2020-05-04 12:28] nikhita commented on #96
/remove-priority important-soon
/priority important-longterm

[2020-05-04 12:31] nikhita commented on #51
This isn't particularly actionable. IMO we should close this and reopen new issues with specific concerns, if needed.

@kubernetes/steering-committee -- thoughts?

[2020-05-04 18:35] cblecker commented on #159
We are going to move forward with this.

Next steps:
- Spreadsheet to split up community groups among steering members
- Write up short paragraph on what groups can expect from their liaison
- Determine where to document this

[2020-05-04 18:55] spiffxp commented on #160
During the meeting I described how I use the word "Lead" to describe someone who is a member of the union of "Chair, Tech Lead, Subproject Onwers", aka someone who has some decision making power over some part of the project and thus additional accountability, without necessarily scoping the specific decision making power or authority (as that's spelled out in sig-governance).

During the meeting,

[2020-05-04 19:04] nikhita commented on #51
Discussed this in the May 5th public steering committee meeting. We are good with closing this, but are happy to revisit any of them if the need arises.

[2020-05-04 19:04] #51 closed

[2020-05-04 19:22] castrojo opened #161 "Steering Election Officers for 2020 Election"
### Problem Statement

It's time to start thinking of choosing election officers for the steering committee election.

### Proposed Solution

We have been selecting election officers to get a rotation, trying to ensure that we have a mix of new and experienced election officers. I'd like to start this a month earlier because our prior election officers are now in other roles. Paris is on steering,

[2020-05-04 21:06] parispittman commented on #161
we should PR in the names of the past election officers and when they did it somewhere in the policy docs so then we can point to those folks; i know they are listed in each year's guide but having them on the policy will be beneficial. i can take this or someone else if they dont see the PR in the meantime.

[2020-05-06 16:04] spiffxp commented on #127
/assign @nikhita
go for it

[2020-05-11 20:00] raelga commented on #109
/remove-lifecycle stale

[2020-05-13 19:00] dims commented on #135
cc @mrbobbytables

[2020-05-29 18:15] parispittman opened #164 "Working Group Annual Reports: final planning"
### Problem Statement
We’ve landed the first stage of community group reporting and after conversations with Steering, we’ve decided we should roll this out to just working groups this year. We need a roll out process and guide.

### Proposed Solution
Steering liaisons go to working group meetings and work with those organizers on completing the annual report

### Open Questions
- [x] what’s the t

[2020-05-29 18:17] parispittman commented on #153
/close

This is done. :)
I’ve opened #164 to track the next stage of roll out

https://github.com/kubernetes/community/pull/4687

[2020-05-29 18:17] #153 closed

[2020-06-01 16:52] nikhita commented on #161
xref https://github.com/kubernetes/steering/issues/140 (issue about last year's election retro)

[2020-06-01 18:48] cblecker commented on #159
Created sheet to seed liaisons: https://docs.google.com/spreadsheets/d/1QOe3diPiMTdreB48A4edalup1SA7XiMeHOxsYMgHh7c

[2020-06-01 19:08] nikhita commented on #161
From [1 June 2020 public steering meeting](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit#heading=h.s7u7rwmne94n):

- @parispittman to update policy langauge to say that contribex brings candidates to steering by july 1
- @nikhita and @spiffxp to follow up with @mrbobbytables to discuss criteria for members of standing
- @cblecker to take care of executing the

[2020-06-01 19:10] nikhita commented on #154
From [1 June 2020 public steering meeting](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit#heading=h.s7u7rwmne94n), @lachie83 to follow up with CNCF to sign steering up for a AMA session. We'll present slides on what steering does, etc and then seed questions for AMA in the session.

/assign @lachie83
/unassign @cblecker

[2020-06-01 23:45] jberkus commented on #161
I am available to help with this.

[2020-06-03 15:22] derekwaynecarr commented on #154
Just an update that since KubeCon EU is now virtual, I will attend and would participate in AMA as well.

[2020-06-04 21:37] derekwaynecarr commented on #132
I have completed this training.

[2020-06-04 21:37] #132 closed

[2020-06-15 17:47] nikhita commented on #161
Assigning people mentioned in https://github.com/kubernetes/steering/issues/161#issuecomment-637048450, so that we don't forget about this...

/assign @parispittman @nikhita @spiffxp @cblecker

[2020-06-26 17:53] castrojo commented on #161
Contribex has reached lazy concensus and are recommending the following people for election officers: @jberkus @idvoretskyi @jdumars

@castrojo and @mrbobbytables will be available as shadows for them.

https://groups.google.com/u/1/g/kubernetes-sig-contribex/c/ySrRy3WLoMY

[2020-06-29 16:42] castrojo opened #166 "Request for calendar@kubernetes.io gsuite account."
### Problem Statement
SIGs aren't inviting the community calendar to their meetings.  We just did an audit and 36(!) SIG and WG meetings are totally missing from the community calendar. Due to the way we were initially set up SIGs need to add `cgnt364vd8s86hr2phapfjc6uk@group.calendar.google.com` to their meetings and the instructions are buried on top of that (I'm filing separate issues for that.

[2020-06-29 17:00] nikhita commented on #166
@castrojo can you also add details on who would be owners/members of `calendar@kubernetes.io`?

[2020-06-29 17:23] mrbobbytables commented on #166
It'd have to be a named account similar to `contributors@kubernetes.io` =/ It has be an account with its own calendar.

The workflow would be that account to join all the community group mailing lists which should aggregate all their meeting invites to its personal calendar.  For reference an example one off gmail account that joined contribex, release and testing's mailing lists:
https://calendar

[2020-06-29 19:18] cblecker commented on #166
+1 to this. I know we want to minimize the amount of shared principal gsuite accounts, but the benefits of this are large and it would make things way easier for sig chairs

[2020-06-29 19:28] parispittman opened #167 "@kubernetesio twitter guidelines"
There are no guidelines right now for the main @kubernetesio twitter account. Currently, CNCF has them for their account and general guidelines for their projects but nothing specific geared towards Kubernetes.

Assigning myself and happy to work with other contributors on this. We will take the @K8sContributors guidelines and the CNCF guidelines into heavy consideration and not create a ton of un

[2020-06-29 20:12] ZhiFeng1993 commented on #167
Hey Paris. I'm interested in working on this task. Please feel free to involve me!

[2020-06-30 15:14] dims commented on #166
+1 from me as well.

[2020-06-30 15:16] nikhita commented on #166
+1 from me! Thank you so much for wrangling the mystical calendars! :sparkles:

[2020-07-01 16:21] lachie83 commented on #154
Session is scheduled - https://sched.co/cq9c. Wednesday, August 19 • 08:10 - 08:45

[2020-07-01 16:22] lachie83 commented on #154
I'm working with Nanci to iron out the details

[2020-07-01 16:42] parispittman commented on #167
@ZhiFeng1993 do you have access to the k8s slack? if so, dm me there 'Paris' and we can get started and work on a doc together

[2020-07-01 18:04] lachie83 commented on #154
Slides are due by August 4th

[2020-07-02 22:03] #149 closed

[2020-07-04 21:05] nikhita commented on #166
I have added this as an agenda item to the next SC meeting (July 6) to get feedback/approval from SC members

[2020-07-04 21:06] nikhita commented on #146
/remove-priority critical-urgent

[2020-07-05 04:28] justaugustus commented on #146
Can we move this one to k/org or k/security?
/committee product-security
/sig release testing
/area release-eng

[2020-07-06 18:04] parispittman opened #169 "code of conduct committee elections"
July 21 - Nominations open (reminder sent to kdev on July 27th)
July 28 - Nominations close
July 29 - Steering to vet nominees
August 4 - Steering to conduct elections
August 6 - New members notified
August 7 - Induct new members

[2020-07-06 18:05] dims commented on #161
+1 to  @jberkus @idvoretskyi @jdumars as officers and for @castrojo and @mrbobbytables as shadows!

[2020-07-06 18:06] spiffxp commented on #161
+1

[2020-07-06 18:06] lachie83 commented on #161
+1

[2020-07-06 18:06] cblecker commented on #161
+1

[2020-07-06 18:06] parispittman commented on #161
+1

[2020-07-06 18:34] lachie83 commented on #169
/assign @parispittman @lachie83

[2020-07-06 19:06] nikhita commented on #161
+100 :tada:

[2020-07-06 19:16] nikhita commented on #166
Discussed in the steering meeting today. Steering is ok with moving ahead with `calendar@kubernetes.io` and `sig-foo-leads@kubernetes.io`. We'd also like to delegate gsuite group creation decisions to sig-contribex/wg-k8s-infra, I'll write down the policy on we'd split delegation between the two groups.

[2020-07-06 19:25] #159 closed

[2020-07-06 19:26] cblecker commented on #161
@castrojo This has been approved by the Steering Committee.

/assign @jberkus @idvoretskyi @jdumars
Welcome, and thank you for agreeing to be election officers this year. Please kick off the process!

[2020-07-08 09:53] nikhita opened #170 "Add SC liaisons for committees"
In #159 and #168, we added Steering Committee liaisons for SIGs, WGs and UGs but we left out committees because they don't need to submit annual reports.

@parispittman suggested that we should also add SC liaisons for committees so that we have good feedback loops with them (thanks, Paris!)

fyi @divya-mohan0209 this might affect the blog post :)

[2020-07-08 10:28] divya-mohan0209 commented on #170
Yay, more content! Thank you for thinking of me @nikhita :)

[2020-07-08 21:12] nikhita commented on #146
Confirmed with @joelsmith that PSC would own this long term. Moving to k/security.

[2020-07-08 21:12] joelsmith commented on #146
Just spoke to @nikhita on slack about this. She's going to create a corresponding issue in the PSC's repo so this can be closed. We'll track it or find someone to track it. Thanks!

[2020-07-15 01:23] parispittman opened #172 "sig-chairs should do wg annual reports in 2021"
discuss changing the process for annual reports for 2021 to have sig chairs bubble up the working group annual reports vs the wg-organizers.

[2020-07-16 03:27] nikhita commented on #136
I confirmed with other steering committee members that this is fine to move - https://kubernetes.slack.com/archives/CPNFRNLTS/p1594800527229600

Moving to k/org

[2020-07-23 21:10] parispittman commented on #166
account has been created. calendar@kubernetes.io
temp credentials assigned to contribex chairs

/close

[2020-07-23 21:10] #166 closed

[2020-08-02 21:19] coderanger commented on #96
I think we can probably close this out? Slack moderation seems fairly stable at this point.

[2020-08-03 16:18] nikhita commented on #161
I'll close this issue since we've decided the election officers now. Let's create new issues for any tasks related to the election going forward :)

[2020-08-03 16:19] #161 closed

[2020-08-03 16:19] nikhita commented on #127
I totally missed this. :woman_facepalming:

Will add it back on my radar.
/unassign @spiffxp

[2020-08-04 16:47] castrojo commented on #96
Agree, team is on the ball, if this needs to come up again we can re-address.

[2020-08-04 16:47] #96 closed

[2020-08-06 19:11] parispittman commented on #169
updates: all 7 members voted by 11:58AM PDT. Poll has now ended.

Top 3 will be shared with CoCC before announcement. More soon.

[2020-08-07 23:22] spiffxp commented on #169
/close
Results have been announced and PR'ed in https://github.com/kubernetes/community/pull/5018

[2020-08-07 23:22] #169 closed

[2020-08-09 21:13] raelga commented on #109
/remove-lifecycle stale

[2020-08-11 15:06] castrojo commented on #140
/close

Had a long discussion with Josh about this, the important changes have been made already. We have open items that are improvements to the email/CIVS process, but after some discussion it's clear that a github integrated application that implements a condorcet voting model is the way forward and not improving the CIVS methods. We're doing decent with what we have now and hyper optimizing th

[2020-08-11 15:06] nikhita commented on #127
/unassign
/assign @parispittman
(thanks for getting #175 going!)

[2020-08-11 15:06] #140 closed

[2020-08-11 15:13] castrojo commented on #140
Follow up issue: https://github.com/cncf/sig-contributor-strategy/issues/51

[2020-08-26 13:43] dims commented on #57
Looks like this is done https://github.com/cncf/foundation/tree/master/license-exceptions

[2020-09-03 20:46] dims opened #178 "Rotating folks for GB Developer Seat"
From https://github.com/cncf/foundation/blob/master/maintainers-election-policy.md#gb-developer-seat-eligibility:
[code]

I think it would be good to periodically rotate folks service on the GB on behalf of Kubernetes Steering. Currently @michelleN is our rep.

Should we setup some guidelines/policies around term/selection etc?

[2020-09-03 21:26] michelleN commented on #178
Setting up guidelines for selection sounds great and a description of the responsibility (influence marketing decisions and operations by representing the KSC perspective) would be good too. Definitely good to be transparent about how the dev rep is selected from KSC. As the first one, I gotta say I really had no idea what I was getting into. No one else on the KSC really wanted to do it and I jus

[2020-09-03 21:47] dims commented on #178
@michelleN thanks for the quick response. How much time do we to set this all up?

[2020-09-03 21:59] michelleN commented on #178
I believe my term ends in December but I can't remember the exact date. November would be my last GB meeting. Maybe @caniszczyk could help us out with the date?

[2020-09-04 00:19] caniszczyk commented on #178
@michelleN 12/15 for the seat

In regards to deciding who should serve as the rep, one simple pattern used often in our projects, the chair of the SC/TOC/TAC/TSC etc gets a seat on a representative board. Has the k8s SC considered having a chair that serves some type of role?

Otherwise, we are happy to run a simple election for you or you can decide via consensus.

I agree with you that a 2 year

[2020-09-14 18:33] #154 closed

[2020-09-14 18:41] spiffxp commented on #94
This issue is about creating/documenting "a systematic way to identify, advertise, and fill areas that need to be staffed across the project"

My suggestion would be document how annual reports will be / are used to do this, document gaps, then close out.

Areas that need improvement = other issues

[2020-09-14 18:58] parispittman commented on #172
some SC members are explicitly -1 on this; more discussion and will keep this open until wg reports are officially over

[2020-09-14 19:09] justaugustus commented on #172
Since I raised this, I think I would probe on what the value/intention of SIG sponsorship of a WG is, without some expectation of SIG oversight.

[2020-09-14 19:34] parispittman commented on #178
discussed in steering meeting today: @dims  will put a call out to steering@kubernetes.io for interested emeritus and current members Oct 1; Steering will vote tbd on process

[2020-09-21 19:23] dims opened #179 "Heads up to community over lead changes in SIGs/WGs"
Currently we do not have a way to inform the community when new folks come in or folks step down in leadership positions. So there is no opportunity to either welcome them or thank them. Also there is no way folks will get to know unless they are directly affected by the changes either since folks don't watch github PR merges.

Let's make it easier to showcase the leadership changes as this will a

[2020-09-29 21:34] cblecker commented on #167
/remove-lifecycle stale

[2020-09-30 20:01] dims commented on #178
@parispittman done! https://groups.google.com/a/kubernetes.io/g/steering/c/I4nBjyfLmXE/m/l55rYxxwAAAJ

[2020-10-01 14:22] #108 closed

[2020-10-06 11:27] nikhita commented on #170
/remove-lifecycle stale

On Tue, Oct 6, 2020 at 4:46 PM fejta-bot <notifications@github.com> wrote:

[2020-10-10 20:59] #135 closed

[2020-10-12 19:35] cblecker opened #180 "Onboard new SC members - October 2020"
[Onboarding checklist](https://github.com/kubernetes/steering/blob/master/onboarding.md) for @mrbobbytables and @liggitt

- [x] All new members must complete the [Inclusive Leadership Training]
within 30 days from the date of their appointment.

- [x] Update the following files in the respective repos:
  - [x] [kubernetes/steering]: `OWNERS_ALIASES` and `README.md`
  - [x] [kubernetes/community]:

[2020-10-12 20:13] liggitt commented on #180
I did the [Inclusive Leadership Training](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/a3971ba1-d762-4cca-9956-e91f688ab7f1-jordan-liggitt-the-inclusive-speaker-orientation-lfc101-certificate.pdf) in July, not sure if that counts

[2020-10-12 20:43] mrbobbytables commented on #180
I did as well 👍
[link](https://ti-user-certificates.s3.amazonaws.com/e0df7fbf-a057-42af-8a1f-590912be5460/f744a94e-40ef-404c-abe4-af1a4c71366d-bob-killen-the-inclusive-speaker-orientation-lfc101-certificate.pdf)

[2020-10-12 20:51] cblecker commented on #180
Yeah, this is recent enough to be fine IMO

[2020-10-13 12:25] mrbobbytables commented on #180
PRs have been made to update:
-  README (https://github.com/kubernetes/steering/pull/181)
- sigs.yaml (https://github.com/kubernetes/community/pull/5216)
- k/org (https://github.com/kubernetes/org/pull/2260)
- funding (https://github.com/kubernetes/funding/pull/13)

[2020-10-13 12:46] nikhita commented on #180
members.

@idvoretskyi can you help with this? :)

[2020-10-14 10:46] idvoretskyi commented on #180
@nikhita happy to, please email or DM me with the preferred email addresses, I'll invite folks to the ServiceDesk.

[2020-10-14 18:45] liggitt commented on #180
Ran across https://docs.google.com/spreadsheets/d/1Pr8cyp8RLrNGx9WBAgQvBzUUmqyOv69R7QAFKhacJEM/edit today, not sure if that's synced from the CNCF mailing list or not, but added to the checklist in https://github.com/kubernetes/steering/pull/182 just in case

[2020-10-14 20:04] cblecker commented on #160
/remove-lifecycle rotten

[2020-10-15 14:11] liggitt commented on #180
zoom credentials shared with @mrbobbytables

[2020-10-15 14:30] liggitt commented on #180
Added to October 19th [agenda](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit#heading=h.tgysnkq3qm4w)

[2020-10-16 17:31] cblecker commented on #180
I think the whole checklist is done.

@liggitt @mrbobbytables: we all good?

[2020-10-16 17:43] liggitt commented on #180
yup, all done

[2020-10-16 17:43] #180 closed

[2020-10-19 14:13] mrbobbytables commented on #34
I think this may be safe to close at this point.
All AI's in the community tracking issue have been closed: https://github.com/kubernetes/community/issues/1922

The only outstanding issue that I know of is  a follow-up item in k/website to update their references: https://github.com/kubernetes/website/issues/24380

[2020-10-19 14:16] nikhita commented on #34
Let's close this!

We can track the k/website issue separately IMO. :)

[2020-10-19 14:16] #34 closed

[2020-10-19 15:27] nikhita opened #185 "Setup new steering commitee meeting time"
With the recent change in steering committee members, we have more folks on the east coast now. Also with the daylight savings flip in November, it means all SC meetings would be at 12:30am for me :sob:

I've discussed this with other steering members already and we decided that we'd consider moving to a new meeting time.

I've posted a doodle link for the new meeting in the #steering-committee ch

[2020-10-19 15:36] nikhita opened #186 "2020 Steering Election Retro"
Issue for 2019 election retro - https://github.com/kubernetes/steering/issues/140

I'll setup a meeting time (we could probably use the next public SC meeting) and create a doc to start writing items for the retro. Will post on this issue with more details.

/assign

[2020-10-20 17:15] nikhita commented on #185
For the record, the next public steering meeting (2nd November) would be at the old time (11am PT) because that's the only time all election officers are available for the retro.

We'll move to 9:30am PT for public meetings after Nov + all private meetings after today.

[2020-10-20 17:30] nikhita commented on #185
Invites updated. Closing!

[2020-10-20 17:30] #185 closed

[2020-10-20 17:32] nikhita commented on #186
Retro setup for next public steering meeting - Monday, November 2nd 2020, at 11AM PT.

Doc for notes - https://docs.google.com/document/d/1xLs1PLoPDXHZAgImNHTiepn_f7-k5HjsCZqaozgFLzI/edit?usp=sharing (join k-dev or steering mailing lists for edit access)

Notice to steering mailing list - https://groups.google.com/a/kubernetes.io/g/steering/c/3WRLDQ0GGYE

[2020-10-22 13:58] mattfarina opened #188 "Artifact Hub"
### Problem Statement
Kubernetes Helm repos are being listed on the [Artifact Hub](https://artifacthub.io/) (another CNCF project). There is a Kubernetes organization to list them under. Organizations can have multiple users as members.

Right now, there is no one on the steering committee or who has been appointed by the steering committee to be listed on the organization for Kubernetes on the Ar

[2020-10-22 14:11] dims commented on #188
@mattfarina would it be possible to add the sc1/sc2/sc3 accounts as members? ( see https://github.com/kubernetes/steering#top-level-accounts )

[2020-10-22 14:14] mattfarina commented on #188
@dims If someone creates accounts on the artifact hub with those logins then they can be added. If I remember right, those email addresses are managed by google so you can use the google login button to login and setup the account. Once that's done I just need to invite the username.

[2020-10-28 17:57] #127 closed

[2020-11-02 19:28] cblecker opened #189 "Steering Emeritus List"
There's been a couple of times where we have wanted to reach out to all the steering emeritus members. Should we consider creating an e-mail list to hit all these folks at once?

We can make it member-only to send to keep spam low.

[2020-11-02 19:52] derekwaynecarr commented on #189
+1

[2020-11-02 21:48] dims commented on #189
yes please!

[2020-11-03 09:48] nikhita commented on #179
/assign

created https://github.com/kubernetes/community/pull/5291

[2020-11-10 11:16] nikhita commented on #164
/remove-lifecycle stale

On Tue, Nov 10, 2020 at 4:24 PM fejta-bot <notifications@github.com> wrote:

[2020-11-11 05:03] #179 closed

[2020-11-18 10:01] nikhita opened #190 "Update Election Commitee guide"
From the [2020 Election Retro](https://docs.google.com/document/d/1xLs1PLoPDXHZAgImNHTiepn_f7-k5HjsCZqaozgFLzI/edit?usp=sharing), the following items need to be included/updated in the EC guide (some of them are suggestions):

- [ ] Write up roles in the EC?
- [ ] How to load and compare data from devstats to member list (maybe a template sheet)
- [ ] Data handoffs from CNCF to EC should be matter

[2020-11-18 10:07] nikhita commented on #186
Closing since the retro took place on Monday, November 16 2020.

Notes - https://docs.google.com/document/d/1xLs1PLoPDXHZAgImNHTiepn_f7-k5HjsCZqaozgFLzI/edit?usp=sharing

Follow up issues/PRs - https://github.com/kubernetes/community/issues/5092, https://github.com/kubernetes/steering/issues/190, https://github.com/kubernetes/community/pull/5326, https://github.com/kubernetes/community/pull/5324

[2020-11-18 10:07] #186 closed

[2020-11-18 10:08] nikhita commented on #190
/assign @mrbobbytables @parispittman
assigning to y'all since some of the AIs from the retro are assigned to you. please delegate as needed!

cc @jberkus @jdumars @idvoretskyi

[2020-11-18 10:08] nikhita commented on #190
cc @castrojo

[2020-11-24 16:47] tpepper opened #192 "CoCC shared drive"
### Problem Statement
The CoCC has shared tracking documents which are non-public.  Like many earlier artifacts in the community, these are currently in a semi-arbitrary directory on Google Drive owned by a past member of the committee and current document ownership ACLs are a scattered representation of who was accessing each doc at its creation time.

### Proposed Solution
We need to have consis

[2020-12-08 20:38] caniszczyk commented on #178
friendly poke here given 12/15 for the seat

[2020-12-10 14:19] nikhita commented on #164
Going to reopen this since we still have a few WG annual reports that need to be PR'd in.

[2020-12-16 21:27] caniszczyk commented on #178
@dims any update?

[2020-12-17 00:41] dims commented on #178
@caniszczyk - @jberkus @mrbobbytables will be running an election, i'll let them chime in here.

[2020-12-17 23:34] jberkus commented on #178
We will conduct a an election among the Steering Committee folks starting on January 15th and ending 5 days later.  The current candidates are:

* Paris Pittman
* Aaron Crickenberger
* Davanum Srinivas

This will also be a functional test of our new elections system.

[2020-12-18 02:00] dims commented on #178
@jberkus please add @timothysc as well https://kubernetes.slack.com/archives/CPNFRNLTS/p1607462287121800

[2020-12-18 18:53] jberkus commented on #178
OK

[2020-12-24 13:02] sftim commented on #109
Travel will be important again one day!
/remove-lifecycle rotten

[2021-01-04 15:00] nikhita commented on #170
/remove-lifecycle stale

On Mon, Jan 4, 2021 at 5:58 PM fejta-bot <notifications@github.com> wrote:

[2021-01-09 14:26] #164 closed

[2021-01-13 20:03] tpepper commented on #192
Bump? @mrbobbytables you mentioned incoming issues would be triaged in regular process.  I know this came in with KubeCon, US Thanksgiving, end of year holidays, etc.  Would like to get this moving.

[2021-01-13 21:00] mrbobbytables commented on #192
Sorry, this dropped off the radar for me.

/assign

[2021-01-14 03:43] dims commented on #178
@caniszczyk please see the results here:
https://groups.google.com/a/kubernetes.io/g/steering/c/Mu8ZP363GGg/m/6_QpidyGDAAJ

@parispittman will be representing k8s-steering in the CNCF GB.

![image](https://user-images.githubusercontent.com/23304/104541998-b6a96980-55f0-11eb-9f65-c8adb65c14b0.png)

[2021-01-14 03:45] dims commented on #178
Thanks @jberkus and @mrbobbytables for running the election! and Manish (@kalkayan) for the spanking brand new election app.

/close

[2021-01-14 03:45] #178 closed

[2021-01-28 08:39] nikhita commented on #192
Funding request - https://github.com/kubernetes/funding/issues/16

[2021-01-28 09:09] nikhita commented on #167
/remove-lifecycle rotten

[2021-01-29 13:24] mrbobbytables opened #196 "Update CNCF Service Desk Policy"
### Problem Statement

The current policy for who can open CNCF service desk tickets on behalf of the project includes steering, k/community root owner, and SIG release leads. The k/community root owners no longer directly reflect those that should be able to open CNCF service desk tickets, and the independent list that steering maintains in [service-desk.md](https://github.com/kubernetes/steering

[2021-01-31 22:25] mrbobbytables commented on #189
/remove-lifecycle stale

[2021-02-01 18:29] parispittman commented on #196
+1

[2021-02-01 18:29] liggitt commented on #196
+1

[2021-02-01 18:30] mrbobbytables commented on #196
/assign

[2021-02-01 18:33] nikhita commented on #196
+1 :)

[2021-02-01 18:33] cblecker commented on #196
+1

[2021-02-01 23:31] dims commented on #196
+1

[2021-02-02 00:01] mrbobbytables commented on #192
The drive has been provisioned and access has been verified 👍
/close

[2021-02-02 00:02] #192 closed

[2021-02-11 21:27] #172 closed

[2021-02-16 11:16] nikhita commented on #190
/remove-lifecycle stale

On Tue, Feb 16, 2021 at 4:45 PM fejta-bot <notifications@github.com> wrote:

[2021-02-22 21:19] dims opened #198 "Draft guidance for projects to go into maintenance and/or Attic"
We had some guidance written down a while ago i think. will need to find it and dust it off

/assign @dims

[2021-02-22 21:57] mrbobbytables commented on #198
Dropping a note from Slack:
As part of guidance for maintenance mode, a cursory audit should be done to check for in-project dependencies e.g. if a component happens to be used in an e2e test etc.

[2021-02-23 18:12] dims commented on #198
https://hackmd.io/@XYdYH0X5SYC3DUYFF5Wylg/BkiiY3MGd/edit

[2021-02-25 16:30] parispittman opened #202 "Create 'execute summary' framework for annual reports"
### Problem Statement
much of the answers provided from groups on the annual report can be summarized instead of reading 30+ docs, how can we create an executive summary style (maybe not that phrase) doc that can be a quick view in and also have links out so folks can have a better experience than searching through community folders.

### Proposed Solution
- table of contents style
- any trends or

[2021-03-10 17:50] logicalhan opened #203 "Logo for SIG Instrumentation"
### Problem Statement

We want a logo for SIG Instrumentation and https://github.com/cncf/servicedesk#design-and-aesthetics suggests that we should file a service desk issue, except it turns out only steering committee members can do so.

### Proposed Solution

Can we have someone file a request for us? The logo we want is a telescope which is septagonal (like the k8s logo) instead of circular and

[2021-03-10 17:53] logicalhan commented on #203
I was thinking something like https://static.bhphoto.com/images/images500x500/1262103476_617031.jpg but angled more so that we can see the k8s logo in the lens.

[2021-03-13 22:14] #160 closed

[2021-03-15 17:31] mrbobbytables commented on #202
/assign
I can help out

[2021-03-18 19:39] mattfarina commented on #188
/remove-lifecycle rotten

[2021-03-18 22:48] cblecker commented on #188
/assign

[2021-03-18 22:48] spiffxp commented on #188
/committee steering

[2021-03-18 22:53] cblecker commented on #188
@mattfarina I created an artifact hub account for myself if you want to add me as an immediate term bus factor reduction. I'm also going to take on figuring out where this can safely go. Sorry for the delay -- this fell off of radar.

[2021-03-24 14:39] mrbobbytables commented on #109
/lifecycle frozen

[2021-04-02 01:24] #196 closed

[2021-04-02 01:41] parispittman opened #205 "2021 Annual Reports Umbrella/Table of Contents"
Using this to keep track of all of the merged SIG and WG community health checks.

- [x] api-machinery [here](https://github.com/kubernetes/community/blob/master/sig-api-machinery/annual-report-2020.md)
- [x] apps [here](https://github.com/kubernetes/community/blob/master/sig-apps/annual-report-2021.md)
- [x] architecture [here](https://github.com/kubernetes/community/blob/master/sig-architecture/

[2021-04-05 08:54] nikhita commented on #170
/remove-lifecycle stale

On Sun, Apr 4, 2021 at 9:12 PM fejta-bot ***@***.***> wrote:

[2021-04-08 13:05] xing-yang commented on #205
Hi @parispittman, report for data protection WG is already merged: https://github.com/kubernetes/community/blob/master/wg-data-protection/annual-report-2021.md.  Thanks!

[2021-04-08 15:11] dims commented on #205
sig-arch : https://github.com/kubernetes/community/pull/5655
sig-release : https://github.com/kubernetes/community/pull/5698
sig-api-machinery : https://github.com/kubernetes/community/pull/5589
sig-cluster-lifecycle : https://github.com/kubernetes/community/pull/5594
sig-usability : https://github.com/kubernetes/community/pull/5615

[2021-04-08 22:38] dims opened #206 "Request a Snyk Service Account for Proof of Concept"
Context :

Snyk has found a few things for us so far:
- https://github.com/kubernetes/kubernetes/issues/100401
- https://github.com/kubernetes/kubernetes/pull/97405
- https://github.com/kubernetes/kubernetes/pull/95692

We had been talking to Snyk for a while now:
- https://github.com/kubernetes/community/issues/2992
- https://kubernetes.slack.com/archives/CHGFYJVAN/p1595258034095300
- https://kub

[2021-04-08 22:44] dims commented on #206
cc @ericsmalling

[2021-04-08 22:53] ericsmalling commented on #206
FYI - I work on Snyk DevRel team and am happy to help in any way (or connect people to those that can help)

[2021-04-09 04:30] nikhita commented on #206
+1 (steering hat on)

[2021-04-09 15:17] liggitt commented on #206
+1

[2021-04-09 15:32] caniszczyk commented on #206
FYI CNCF/LF have a relationship with Snyk (powers some of our security tools) so we can help if needed but I think we should be just OK with their normal free offering, I'll let @idvoretskyi steer as he's setup snyk for other CNCF projects.

[2021-04-09 15:37] dims commented on #206
Thanks @caniszczyk we will reach out to @idvoretskyi next week to get this going.

[2021-04-09 17:09] idvoretskyi commented on #206
/assign

@dims sure, let’s catch up and we’ll sort it out :)

[2021-04-09 21:57] dims commented on #205
@parispittman we can remove `policy`,  `iot edge`, `component standards` from this list as we did not open issues for them ( cc @cblecker )

[2021-04-14 20:03] dims commented on #206
slack discussion: https://kubernetes.slack.com/archives/CPNFRNLTS/p1618404479022100?thread_ts=1618404437.021700&cid=CPNFRNLTS
CNCF service desk ticket: https://cncfservicedesk.atlassian.net/servicedesk/customer/portal/1/CNCFSD-756

[2021-04-17 00:31] PushkarJ commented on #206
Related issue for visibility of fixed CVE info in release notes: https://github.com/kubernetes/release/issues/1354 and PR: https://github.com/kubernetes/release/pull/1996 cc @navidshaikh

[2021-04-19 19:38] puerco commented on #206
/cc

[2021-04-21 12:50] idvoretskyi commented on #206
The access is granted - is there anything else on this one @dims?

[2021-04-21 12:57] dims commented on #206
all set! thanks @idvoretskyi

[2021-04-21 13:05] idvoretskyi commented on #206
/close

we may reopen if needed :)

[2021-04-21 13:05] #206 closed

[2021-04-25 19:32] nikhita commented on #203
cc @kubernetes/steering-committee

[2021-05-03 07:10] nikhita commented on #189
/remove-lifecycle stale

[2021-05-05 08:23] nikhita commented on #167
/lifecycle frozen

[2021-05-10 12:43] nikhita commented on #203
@logicalhan Apologies for the late response. Is this still desired? Happy to create a service desk ticket if you are still looking for a logo.

[2021-05-14 20:35] parispittman opened #207 "Annual Reports Actions and Wrap Up"
Issue to collect our notes from the summary and meetings about actions we need to take for next year as well as topics that need to have follow up:

**Build:**
- creating a template and a generator of some kind so it's not a manual add for the summary by steering and better user experience for the survey taker
  - cc/ @cblecker
  -
- script or some other automated way that suggests folks to promot

[2021-05-17 13:21] nikhita commented on #190
/remove-lifecycle stale

On Mon, 17 May 2021 at 17:29, fejta-bot ***@***.***> wrote:

[2021-05-20 19:01] parispittman opened #208 "review and publish schedule for annual reports"
will kick off worksteams in other areas and repos in addition to this:

**Reviews:**
steering committee first pass - done
Chairs quick last pass (48 hours) - done
@celestehorgan and CNCF pass - done

**Publish:**
May 27-28th
K8s.io blog - done
kdev list - done
leads list and slack channel - done
Kubernetes-contributors slack channel (should we do it in announcements?) - done
discuss.kubernetes.io

[2021-05-21 19:22] parispittman commented on #202
https://hackmd.io/R7hFEhc4SrOvaBl_vJDhEg

[2021-05-21 19:22] #202 closed

[2021-05-25 16:21] spiffxp commented on #200
/remove-lifecycle stale
/lifecycle frozen

[2021-06-04 13:20] nikhita opened #210 "License exemption for hashicorp MPL-2.0 projects"
There are a number of projects in Kubernetes that have `github.com/hashicorp/consul` or `github.com/armon/consul-api` as a [direct/transitive dependency](https://cs.k8s.io/?q=consul&i=fosho&files=go.sum&excludeFiles=&repos=). Hashicorp's licenses are MPL and while some of their repos are blessed by CNCF as exceptions, consul is not. https://github.com/cncf/foundation/blob/master/license-exceptions

[2021-06-04 13:32] nikhita commented on #210
cc @swinslow @caniszczyk

[2021-06-09 20:52] parispittman commented on #94
I think this can be closed - woohoo! 🎊  As @spiffxp mentioned, we now have the [annual report process](https://github.com/kubernetes/community/blob/master/committee-steering/governance/annual-reports.md) to help ID different kinds of gaps, including staffing.

Also in place:
- monthly SIG/WG Lead meeting where we can surface needs on a regular basis
- steering liaisons for each SIG/WG https://gith

[2021-06-09 21:05] parispittman commented on #94
we also started documenting roles here https://github.com/kubernetes/community/blob/master/mentoring/programs/shadow-roles.md

and continuing the conversation here: https://github.com/kubernetes/community/pull/5736

[2021-06-22 10:06] dims opened #212 "Approach to handling policy related outcomes from Annual Reports (and elsewhere)"
There have been instances of things we mandate policy-wise / governance-wise for SIGs and WGs. The recent Annual Reports process has surfaced some of the disconnects and hardships faced by SIGs and WGs in following them. So what we need to think through here is how to get to the point where we track things we need SIGs to fix up and/or figure out how to make things easier given these trying times.

[2021-06-22 17:25] parispittman commented on #212
https://github.com/kubernetes/steering/issues/207

[2021-06-28 15:59] mrbobbytables commented on #198
/remove-lifecycle stale

[2021-06-30 18:57] parispittman commented on #208
remaining as of this timestamp:
discuss
twitter
end user group
podcasts / other media
our employers

[2021-07-02 16:43] parispittman commented on #208
done with this with the exception of more end user outreach

/close

[2021-07-02 16:44] #208 closed

[2021-07-02 16:45] parispittman commented on #205
we are done here for this edition of the reports; closing

/close

[2021-07-02 16:45] #205 closed

[2021-07-02 22:03] spiffxp opened #213 "kubernetes.io Google Workspace automation"
### Problem Statement
Lack of API access to our existing googlegroups.com infrastructure is creating entirely too much toil (ref: https://github.com/kubernetes/community/issues/3541). Some specific examples that come to mind:
- ensuring community docs aren't stranded when original owners move on from the project
- managing community mailing lists
- managing calendar invites
- using mailing list me

[2021-07-02 22:07] spiffxp commented on #213
/assign @dims @mrbobbytables @parispittman
To help out with the "requesting an account `wg-k8s-infra-admin@kubernetes.io` with super admin privileges, equivalent to the access held by the scN@kubernetes.io accounts" piece

[2021-07-02 23:10] dims commented on #213
/approve

yes, let's please go ahead with this @spiffxp !

[2021-07-03 00:03] mrbobbytables commented on #213
+1 from me as well, this would help out in a lot of areas.

[2021-07-03 00:13] parispittman commented on #213
+1

[2021-07-04 09:08] nikhita commented on #170
/remove-lifecycle stale

On Sun, 4 Jul 2021 at 14:27, fejta-bot ***@***.***> wrote:

[2021-07-08 21:23] parispittman commented on #94
closing this now that the annual report process is live and the first report is published
https://www.cncf.io/reports/kubernetes-community-annual-report-2020/

[2021-07-08 21:23] #94 closed

[2021-07-20 13:32] caniszczyk commented on #210
FYI

"RESOLVED: That go-retryablehttp, when used in unmodified form, is approved as an exception to the CNCF Intellectual Property Policy" was recently approved by the CNCF GB and @swinslow will be updating the license exceptions.

[2021-07-20 17:33] ehashman commented on #213
Since WGs are supposed to eventually wrap up, will transitioning ownership to a permanent group like a SIG be a later responsibility of WG k8s Infra?

[2021-07-20 18:01] spiffxp commented on #213
Yeah, I see this going one of two ways:
- all responsibilities are sharded out to the appropriate SIG, (e.g. the automation code and running of it is owned by SIG ContribEx (much as they own slack-infra right now))
- the WG becomes a SIG

I would be happy to transition full ownership of the Google Workspace Groups automation to SIG ContribEx today except for the fact that it lacks the rule-based e

[2021-07-23 20:41] spiffxp commented on #213
OK I have an account, it's protected by 2FA.  Going to need some time to come back to you with a more fully formed proposal, my hope is by the start of v1.23

[2021-07-28 16:40] #198 closed

[2021-08-02 12:57] mrbobbytables commented on #189
/remove-lifecycle stale
/lifecycle frozen

[2021-08-02 16:55] cblecker commented on #207
/assign

[2021-08-04 14:38] mrbobbytables commented on #212
/assign

[2021-08-11 04:35] nikhita opened #214 "Clarify steering approval criteria for SIG formation"
While converting WG K8s Infra to SIG K8s Infra (https://github.com/kubernetes/community/pull/5928), we realized that we don't have docs on whether SIG creation PRs require a simple or super majority from steering.

The current [docs](https://github.com/kubernetes/community/blob/master/sig-wg-lifecycle.md#prerequisites-for-a-wg) only specify a simple majority for WG creation.

We should create clea

[2021-08-11 04:44] nikhita opened #215 "Create guidelines for converting WG to a SIG"
From https://github.com/kubernetes/community/pull/5928

While converting WG K8s Infra to SIG K8s Infra, we realized that we don't have docs for converting a WG to a SIG. We should have clear guidelines for this process.

/assign
Assigning it to myself but if anyone wants to take this on, please feel free to do so!

[2021-09-13 17:01] mrbobbytables opened #216 "default branch rename: master -> main"
Tracking issue for the branch rename, it can be closed when the branch has been renamed and notification sent to steering public list.

[2021-09-13 17:04] dims commented on #216
thanks @mrbobbytables

[2021-09-13 17:13] mrbobbytables commented on #216
branch has been renamed, email sent to public list. Going to go ahead and close.

/close

[2021-09-13 17:13] #216 closed

[2021-10-08 08:27] stevehipwell commented on #188
What owner information needs adding to the _artifacthub-repo.yml_ file so a repository can be claimed by the Kubernetes SIGs organisation? I'll open PRs for [Metrics Server](https://artifacthub.io/packages/helm/metrics-server/metrics-server) & [External DNS](https://artifacthub.io/packages/helm/external-dns/external-dns) once I know this.

[2021-10-14 14:11] #190 closed

[2021-10-18 00:15] dims commented on #170
/remove-lifecycle stale

[2021-10-18 00:16] dims commented on #188
/remove-lifecycle rotten

[2021-10-18 17:07] parispittman opened #218 "GB Rep term should match SC terms"
### Problem Statement
GB rep is 2 years, Steering rep is 2 years but they are not concurrent. It would be a smoother process if they were concurrent with the person elected to GBs Steering term. If they are not, the person will have ~1 year where they need to make sure they link up with steering, ask to be fit into the agenda, etc; whereas, they would already be in those meetings if they still sat

[2021-11-08 15:51] dims commented on #212
/remove-lifecycle stale

[2021-11-08 17:55] justaugustus opened #219 "Steering onboarding - @justaugustus + @tpepper"
# Steering Onboarding

This document covers steps needed to onboard new Steering Committee
members and off-board emeritus members.

## Initial steps

- [x] All new members must complete the [Inclusive Leadership Training]
within 30 days from the date of their appointment.
  - [x] @justaugustus certificate ID number: LF-zhwaqh4h1z
  - [x] @tpepper certificate ID number: LF-zr308bplvo
- [x] Update t

[2021-11-08 18:05] mrbobbytables commented on #212
Ugh, my bad - I let this drop. It's back on my radar

[2021-11-09 05:16] nikhita commented on #215
/remove-lifecycle stale

On Tue, 9 Nov 2021 at 10:40, Kubernetes Triage Robot <
***@***.***> wrote:

[2021-11-09 05:16] nikhita commented on #214
/remove-lifecycle stale

On Tue, 9 Nov 2021 at 10:40, Kubernetes Triage Robot <
***@***.***> wrote:

[2021-11-09 18:16] justaugustus opened #221 "Resolving conflicts of interest with committee membership"
### Problem Statement

Affectionately termed the "@parispittman Provision" in the [2021-11-08 Steering meeting](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit#bookmark=id.x52f9kk4qjyz), there has been a precedent established for members of the @kubernetes/code-of-conduct-committee to step down from CoCC should they be elected to serve on @kubernetes/steering-c

[2021-11-09 18:18] justaugustus commented on #221
/assign @parispittman @tpepper

[2021-11-09 18:35] tpepper commented on #221
@celestehorgan has noted  https://github.com/kubernetes/community/blob/master/committee-code-of-conduct/bootstrapping-process.md

We definitely need to consider the historical context and intents in updating process docs across CoCC and Steering around membership, but also likely should archive this document so the repo state is clear and consistent with the present/chosen operationalization.

[2021-11-09 18:41] dims commented on #221
+1 to the proposed solution.

[2021-11-09 19:11] parispittman commented on #221
When there are a lot of candidates, I really like the idea of next in line from the last election and then that person fills the term of the vacant seat instead of doing a new election. This would follow the same rules as Steering and maintain consistency. The individual filing the vacant seat can run again in the next election.

[2021-11-09 20:24] justaugustus commented on #210
@nikhita -- Is this one still active?

[2021-11-09 20:25] justaugustus commented on #210
/remove-lifecycle stale

[2021-11-09 20:26] justaugustus commented on #207
/remove-lifecycle stale
/lifecycle frozen

[2021-11-09 22:29] liggitt commented on #221
+1 as well

[2021-11-09 23:01] justaugustus opened #222 "Clarify CNCF maintainers list + Service Desk policy"
### Problem Statement

Follow-up/extension of https://github.com/kubernetes/steering/issues/196.

Part of [Steering Committee onboarding](https://github.com/kubernetes/steering/blob/main/onboarding.md) (example: https://github.com/kubernetes/steering/issues/219) includes updating the CNCF maintainers lists and Service Desk access.

I think there is some confusion (at the very least on my part 🙃) o

[2021-11-09 23:29] jberkus commented on #221
FWIW, I don't think the ECs should have an opinion on this; our authority ends when the election is over.

Otherwise, I'd +1 the suggested process.

[2021-11-10 00:02] amye commented on #222
This is already written down, so no need to redo all of this.
(1) Service Desk for Kubernetes is already defined here:
https://github.com/kubernetes/steering/blob/main/service-desk.md

(2) The members of the steering committee are the authorized voting members.

We can likely close this with that piece of documentation above added to #219.

[2021-11-10 00:30] justaugustus commented on #222
Still a bit more that we'll want to do 🙃

Based on the convo with a few Steering members, I'm hearing:
- [ ] Audit the list of existing Service Desk users
- [ ] Verify email addresses from members/leads of:
  - Steering
  - SIG ContribEx
  - SIG Release
  - SIG K8s Infra
- [ ] Prune emails from folks that are not in:
  - Steering
  - SIG ContribEx
  - SIG Release
  - SIG K8s Infra
- [ ] Update CNC

[2021-11-10 00:33] justaugustus commented on #222
Ahhh, one more:
- [ ] Enable Steering to receive notifications for all Service Desk tickets

[2021-11-10 00:40] mrbobbytables commented on #222
lgtm 👍

[2021-11-10 00:48] justaugustus commented on #222
To clarify for passerbys, we're essentially delineating between:
- who can vote
- who can access CNCF Service Desk
- who gets CNCF Maintainer notifications

...which are distinct separations of concern, but groups with significant overlap.

[2021-11-10 20:31] celestehorgan commented on #221
cc: @kubernetes/code-of-conduct-committee

[2021-11-11 16:52] stevehipwell commented on #188
@dims just following this up to see if there is a blocker here that I can help with?

[2021-11-11 18:31] dims commented on #188
@stevehipwell i've managed to grab metrics-server and external-dns to SC1:
- https://artifacthub.io/packages/search?ts_query_web=external-dns&sort=relevance&page=1
- https://artifacthub.io/packages/search?ts_query_web=metrics-server&sort=relevance&page=1

Also see issue above to transfer the 2 orgs to SC1 as well. once thats one, we still have to activate SC2 and SC3 for which i will ping folks ne

[2021-11-12 19:51] parispittman commented on #188
@dims SC2 is now signed up

[2021-11-12 20:14] dims commented on #188
@parispittman thanks! please go back into the web ui and accept the invitation and we are all set!

[2021-11-12 23:18] parispittman opened #223 "annual reports v2 dates and deadlines"
The first edition of our Annual Reports 2020 was released very late in the year and we should do it much earlier this go around, even if some information might be overlapping. It's better to be over communicative with our needs and reports than not enough.

We need to decide on dates and deadlines:

Jan
 - when we, steering, need to have all policy, procedure, and process complete before chairs st

[2021-11-15 17:07] justaugustus commented on #222
Update the CNCF maintainers list to reflect this discussion in https://github.com/cncf/foundation/pull/229.

[2021-11-15 17:24] idvoretskyi commented on #222
@justaugustus

steering@
leads@

We're able to add the real email addresses there only (not aliases), and our policy is that we add only folks listed in the CNCF maintainers list (maintainers.cncf.io). You are welcome to forward the necessary emails to the leads@ mailing list though :)

This is not possible with our JIRA setup, unfortunately. However, all folks under the Kubernetes team should hav

[2021-11-15 18:41] tpepper commented on #207
A couple notes:

```some wgs don't report into all of their sponsoring sigs; does this matter? some wgs have many - can we help streamline this?```

I definitely think this matters.  As _a_ (singular) project we need to all give some attention to cohesion.  IMHO WGs must keep their sponsor, and just "adjacent", SIGs informed.

As a past SIG and WG chair I really wished for a standard way of settin

[2021-11-20 01:22] tpepper commented on #221
Following @justaugustus's suggested text which feels reasonable, I'm proposing some clarifying text to the elections.md docs for both the Steering and Code of Conduct Committees to formalize our existing practice of stepping down and the vacancy being filled.

[2021-11-22 01:07] justaugustus commented on #221
Proposed changes from Tim in https://github.com/kubernetes/steering/pull/224 and https://github.com/kubernetes/community/pull/6243.

[2021-11-29 17:52] parispittman commented on #213
https://github.com/kubernetes/community/issues/5877

[2021-11-29 21:21] celestehorgan commented on #170
One comment: the purpose of the Committees is to do work that needs to be done in private. As such:

1. What are the expectations for a liaison? Will that liaison attend committee meetings, be in the committee channel, etc.?
2. What is Steering's expectation for these liaisons reporting back?

[2021-11-30 00:30] parispittman commented on #170
@celestehorgan there are no reporting duties and liaisons will be part of public channels only; this is mainly a way for us to flow information better specifically governance changes and events. An example for cocc’s liaison would be to remind about elections (both cocc and steering) and then possibly help start it like I’ve done in the past.

[2021-12-02 03:37] justaugustus commented on #170
Opened https://github.com/kubernetes/community/pull/6260 to continue the discussion.
/assign

[2021-12-02 03:53] justaugustus commented on #215
(cleaning up SC project board)
/unassign @nikhita
/help

[2021-12-02 03:53] justaugustus commented on #214
(cleaning up SC project board)
/unassign @nikhita
/help

[2021-12-02 18:01] justaugustus commented on #170
From @tpepper in [Steering agenda doc](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit?disco=AAAARHKrbeY):

[2021-12-02 18:06] justaugustus commented on #207
Assigning Jordan and myself for this [agenda doc item](https://docs.google.com/document/d/1qazwMIHGeF3iUh5xMJIJ6PDr-S3bNkT8tNLRkSiOkOU/edit?disco=AAAARHMIAP4):

/assign @liggitt @justaugustus

[2021-12-02 18:52] parispittman commented on #109
@idvoretskyi - the last thing I remember here is there was a new box to check on the diversity form that included contributors - what is the current status of this? Is it still a thing? Should we have a separate form for contributors?

Let's try and have something in place for May in Valencia. Will put this on the agenda for SC Meeting Monday to get a SC owner to help drive with CNCF.

[2021-12-02 19:15] idvoretskyi commented on #109
@parispittman honestly I don’t recall what was the last status on this - it was years ago :)

Let’s catch up on Monday, happy to kick this for Valencia in advance!

[2021-12-02 21:03] parispittman opened #225 "ID more roles within Steering Committee"
### Problem Statement
At the October meeting I brought up that we should have more roles within the committee.  Bosun and liaison are our two main roles now but things fall through the cracks. These include proper ack'ing in an appropriate time period on issues, communicating changes throughout the project, and more. We also have major initiatives like code of conduct elections, annual reports, ku

[2021-12-02 23:39] jberkus opened #226 "SC Elections: COCC members should automatically be voters"
Per the [2021 Election Retro](https://docs.google.com/document/d/1edqfsSNk_p746PcXlbHTJa8ZHNlnw3QEqNPzlVDJmUc/edit):

The outgoing Election Officers propose that, for future elections, CoCC and SRC members should automatically be added to the eligible voters list, regardless of whether they meet devstats thresholds or not.

These two committees are consistent sources of granted voter exceptions, s

[2021-12-02 23:47] jberkus opened #227 "SC Elections: Consider whether candidates should be required to meet voter requirements"
Per the [2021 Election Retro](https://docs.google.com/document/d/1edqfsSNk_p746PcXlbHTJa8ZHNlnw3QEqNPzlVDJmUc/edit):

Currently, candidates for Steering are not required to meet voter eligibility requirements in order to run.  This has led to the odd situation in some elections where a candidate was unable to vote for themselves (or anyone else) and no such candidates have ever been elected.

The

[2021-12-03 03:06] justaugustus commented on #225
Volunteering as tribute for issue/PR wrangler + onboarding/offboarding (since I've been scanning through issues/sprucing up the project board lately)

/assign

[2021-12-03 16:05] liggitt commented on #226
would it make sense to abstract this and say all leaders listed in https://github.com/kubernetes/community/blob/master/sigs.yaml are eligible voters?

[2021-12-03 18:42] parispittman commented on #226
+1 to @liggitt - I was going to say all named roles but sigs.yaml helps that a bit

[2021-12-06 17:34] jberkus commented on #226
That would be fine, let's vote it in.

[2021-12-06 17:41] justaugustus commented on #109
/assign
(from 12/6 Steering public meeting)

[2021-12-06 17:44] #170 closed

[2021-12-06 17:45] justaugustus commented on #188
/assign @mrbobbytables
(from 12/6 Steering public meeting)

[2021-12-06 18:02] justaugustus commented on #227
@kubernetes/steering-committee to leave comments (particularly @cblecker for historical context on decision)
(from 12/6 Steering public meeting)

[2021-12-06 18:32] tpepper opened #228 "Liaison role documentation"
### Problem Statement
SIG/WG Liaisons are specified (eg: https://github.com/kubernetes/community/pull/6231), but the specific role requirements and cadences of actions are not.

### Proposed Solution
Document the liaison role, include a checklist of expected activities and the timing/frequency of those.

### Cost
n/a

### Open Questions
- [ ] what is expected frequency of attending/viewing SIG/WG